<%= will_paginate @forecast_snapshots %>

<p id="notice"><%= notice %></p>

<% if current_user.internal_user? %>
    <%= link_to 'New Forecast snapshot', new_forecast_snapshot_path %>
<% end %>

<h1>Listing Forecast Snapshots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Comments</th>
      <% if current_user.internal_user? %>
        <th>Published</th>
      <% end %>
      <th>Created</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forecast_snapshots.each do |fs| %>
      <tr>
        <td><%= link_to fs.name, fs %></td>
        <td align="center"><%= fs.version %></td>
        <td><%= fs.comments %></td>
        <% if current_user.internal_user? %>
          <td align="center"><%= fs.published ? 'Y' : 'N' %></td>
        <% end %>
        <td><%= fs.created_at.localtime.strftime("%m/%d/%y") %></td>
        <td><%= fs.updated_at.localtime.strftime("%m/%d/%y") %></td>
        <td>
          <%= link_to 'Table', forecast_snapshots_path(fs) + '/table' %>
        </td>
        <% if current_user.admin_user? %>
           <td><%= link_to 'Edit', edit_forecast_snapshot_path(fs) %></td>
        <% end %>
        <% if current_user.dev_user? %>
           <td><%= link_to 'Destroy', fs, method: :delete, data: { confirm: "Destroy #{fs.name}, version #{fs.version}: Are you sure??" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= will_paginate @forecast_snapshots %>