<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_forecast_snapshot_path(@forecast_snapshot) %> |
<%= link_to 'Back', forecast_snapshots_path %>

<h2><%= @forecast_snapshot.name+' ('+@forecast_snapshot.version+')' %></h2>
<% @tsd_files.each do |tsd| %>
<hr/>
<h3><%= tsd.filename %> <%= 'Latest' if tsd.latest_forecast %></h3>
    <p>Names:</p>
    <ul>
      <% tsd.get_all_series.each do |series| %>
          <li>
            <ul>
              <li>Name: <%= series[:name] %></li>
              <li>Description: <%= series[:description] %></li>
              <li>Data: <%= series[:data] %></li>
              <li>Start Date: <%= tsd.parse_date(series[:start], series[:frequency], :start, series[:daily_switches]) %></li>
              <li>Frequency: <%= series[:frequency] %></li>
            </ul>
          </li>
      <% end %>
    </ul>
<% end %>
