<p id="notice"><%= notice %></p>

<%= link_to 'Index', forecast_snapshots_path %> |
<%= link_to 'Charts', { action: :show, id: @forecast_snapshot, sampl_from: @sampl_fr, sample_to: @sampl_to } %> |
<%= link_to 'CSV', { action: :show, format: :csv, id: @forecast_snapshot } %> |
<% if current_user.admin_user? %>
  <%= link_to 'Edit', edit_forecast_snapshot_path(@forecast_snapshot) %> |
  <%= link_to 'Dup', { action: :duplicate, id: @forecast_snapshot }  %> |
  <%= link_to 'Destroy', @forecast_snapshot, method: :delete,
                  data: { confirm: "Destroy #{@forecast_snapshot.name}, version #{@forecast_snapshot.version}: Are you sure??" } %> |
<% end %>
<%= form_with model: @forecast_snapshot, url: { action: :table }, method: :post, html: { style: 'display:inline;' } %>
  <%= generate_date_range_controls(@sampl_fr, @sampl_to).html_safe %>
  <%= submit_tag 'Show' %>
</form>

<h2 class="snapshot-table-title"><%= @forecast_snapshot.name+' ('+@forecast_snapshot.version+')' %></h2>
<p>Last update: <%= @forecast_snapshot.updated_at.strftime('%m/%d/%Y') %></p>

<table class="snapshot-table">
  <tr>
    <th class="header-col"> &nbsp; </th>
    <% @all_dates[@sampl_fr..@sampl_to].each do |date| %>
        <th><%= @is_quarterly ? date_to_qspec(date) : date[0..3] %></th>
    <% end %>
  </tr>
  <% @tsd_files[0].get_all_series.each do |s| %>
    <% decimals = (s[:udaman_series].decimals || 1) rescue 1 %>
    <tr>
      <%
        fullname = Series.build_name_two(s[:name], s[:frequency])
        the_series = s[:udaman_series] || fullname
        display_name = '%s (%s)' % [@forecast_snapshot.retrieve_name(the_series), data_portal_link(the_series)]
      %>
      <td class="header-col series-title"><%= display_name.html_safe %></td>
      <% @all_dates[@sampl_fr..@sampl_to].each do |date| %>
        <td class="series-data"><%= number_with_precision(s[:data_hash][date], precision: decimals, delimiter: ',') %></td>
      <% end %>
    </tr>
    <tr>
       <td class="header-col change"> &nbsp; % Change</td>
      <% @all_dates[@sampl_fr..@sampl_to].each do |date| %>
          <td class="change-data"><%= number_with_precision(s[:yoy_hash][date], precision: decimals, delimiter: ',') %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="table-note">
  <p>Note: <%= @forecast_snapshot[:comments].to_s %></p>
</div>
