<h1>Reload Jobs</h1>

<table class="list_table">
  <thead>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Created</th>
    <th>Status</th>
    <th>Finished</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @all_jobs.each do |job| %>
    <tr>
      <td><%= job.id %></td>
      <td><%= job.user.email %></td>
      <td><%= job.created_at %></td>
      <td><%= job.status %></td>
      <td><%= job.finished_at %></td>
      <td><%= job.error %></td>
      <td><%= link_to 'Cancel', export, method: :delete, data: { confirm: "Cancel reload #{job.id}\nAre you sure??" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
