<p id="notice"><%= notice %></p>

<%= link_to 'Series without a source', 'series/no_source' %><br/>
<%= link_to 'Unrestricted series without a source', 'series/no_source_no_restrict' %>

<h1>Listing Sources</h1>
<%= link_to 'New Source', new_source_path %>
<p></p>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= link_to source.description, edit_source_path(source) %></td>
        <td><%= source.link %></td>
        <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: "Destroy #{source.description}: Are you sure??" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
