<div id="summary_area">
	<h2>Downloads</h2>
	<div id="navigation"><%= link_to "Add Download", {:action => 'new' }%></div>
</div>
<div id="details_mask"></div>
<div id="details_area">
	<% @domain_hash.sort.each do |domain, handle_array| %>
		<h2><%= domain %></h2>
		<table class="list_table">
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<!-- <th colspan="2">Last Attempt</th> -->
				<th></th>
				<th></th>
				<!-- <th>Url / Path</th> -->

			</tr>
			<% handle_array.sort.each do |handle|
      download = nil
			@output_files.each do |dsd|
				if dsd.handle == handle
					download = dsd
					break
				end
			end
			#this needs to be cached in the record
			#last_attempt = download.dsd_log_entries.order(:time).last
			
			filename = download.save_path.nil? ? "" : download.save_path.split("/")[-1]
			%>
			<tr>
					<% if download.handle.nil? %>
					<td><strong style="color:#DDD"><%= filename %></strong></td>
					<% else %>
					<td class="linkselect"><%= link_to download.handle , {:action => 'show', :id => download.id}, target: '_blank' %></td>
					<% end %>
					<td><%= link_to 'edit', { action: :edit, id: download.id } %></td>
					<td><%= link_to 'delete', download, method: :delete, confirm: "Deleting #{download.handle}: Are you sure??" %></td>
          <td><%= link_to 'download-to-server', { action: :download, id: download.id }%></td>
          <td><%= link_to 'download-to-user', download.url %></td>
			</tr>
			<% end %>
		</table>
	<% end %>
</div>

<p>