<div id="summary_area">
	<h2>Downloads</h2>
  <% if current_user.admin_user? %>
      <div id="navigation"><%= link_to 'New Download', { action: :new } %></div>
  <% end %>
</div>
<div id="details_area">
	<% @domain_hash.sort.each do |domain, handle_array| %>
		<h2><%= domain %></h2>
		<table class="list_table">
			<% handle_array.each do |handle|
          download = nil
          @output_files.each do |dsd|
            if dsd.handle == handle
              download = dsd
              break
            end
          end
			%>
			<tr>
					<% if download.handle %>
              <td>
                <span class="<%= @orphans[download.id] %>" title="<%= @orphans[download.id] %>">
                  <%= link_to download.handle, download %>
                </span>
                <% if download.freeze_file %><i class="fas fa-ban redban" title="frozen"></i><% end %>
              </td>
          <% else %>
              <% filename = download.save_path.split('/')[-1] rescue nil %>
              <td><strong style="color:#DDD"><%= filename %></strong></td>
					<% end %>
          <% if current_user.admin_user? %>
            <td><%= link_to 'edit', { action: :edit, id: download.id } %></td>
            <td><%= link_to 'duplicate', { action: :duplicate, id: download.id } %></td>
            <td><%= link_to 'delete', download, method: :delete, data: { confirm: "Deleting #{download.handle}: Are you sure??" } %></td>
            <td><%= link_to 'download-to-server', { action: :download, id: download.id }%></td>
          <% end %>
          <td><%= link_to 'download-to-user', download.url %></td>
			</tr>
			<% end %>
		</table>
	<% end %>

  <p>&nbsp;</p>
</div>
