<div id="summary_area">
	<h2>Add Download</h2>
</div>
<div id="details_mask"></div>
<div id="details_area">
	<%= form_for @output_file do |f| %>
		<div class="field">
			<%= f.label :handle %>
			<%= f.text_field :handle, :size => 100 %>
		</div>

    <div class="field">
      <%= f.label 'Date sensitive?' %>
      <%= f.check_box :date_sensitive %>
    </div>

    <div class="field">
			<%= f.label :url %>
			<div id="url_message"></div>
			<%= f.text_field :url, :size => 100, 'data-test-url': 'url_message' %>
		</div>

      <div class="field">
        <%= f.label :filename_ext, 'Filename extension' %>
        <%= f.select :filename_ext, %w(xlsx xls zip csv txt pdf).collect {|x| [x, x] }, {:include_blank => false} %>
      </div>

      <div class="field">
        <%= f.label :file_to_extract, 'If zip archive, enter contained filename/path ONLY, not full path!' %>
        <%= f.text_field :file_to_extract, :size => 40 %>
      </div>

      <div class="field">
      <%= f.label :sheet_override, 'Worksheet override name' %><br/>
      <%= f.text_field :sheet_override, :size => 40 %>
    </div>

		<div class="field">
			<%= f.label :post_parameters %>
			<div id="post_parameters_message"></div>
			<%= f.text_area :post_parameters, :value => " \n  ", :size => '72x3', 'data-test-post-params': 'post_parameters_message' %>
		</div>

    <div class="field">
      <%= f.label :notes %><br />
      <%= f.text_area :notes, :size => '72x10' %>
    </div>

      <div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>
<script>

  function validateInput(action, dataAttr) {
    $(':input[data-' + dataAttr + ']').change(function() {
      console.log('Value to send: ' + $(this).val());
      var divToChange = $(this).data(dataAttr);
      $('#' + divToChange).html('Validating input ...');
      $.post('<%= url_for controller: :downloads, :only_path => false %>/' + action,
          {change_to: $(this).val()},
          function(data) {
            $('#' + divToChange).html(data);
            console.log('received result for ' + action);
          }
      );
    });
  }

  $(function() {
    validateInput('test_url', 'test-url');
    validateInput('test_save_path', 'test-save-path');
    validateInput('test_post_params', 'test-post-params');
  });
</script>
