<%= form_for(@feature_toggle) do |f| %>
  <% if @feature_toggle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature_toggle.errors.count, "error") %> prohibited this feature_toggle from being saved:</h2>

      <ul>
      <% @feature_toggle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= @feature_toggle.name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= @feature_toggle.description %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
