<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature_toggle.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature_toggle.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @feature_toggle.status %>
</p>

<%= link_to 'Edit', edit_feature_toggle_path(@feature_toggle) %> |
<%= link_to 'Back', feature_toggles_path %>
