<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @tsd_file.path %>
</p>

<p>
  <strong>Latest:</strong>
  <%= @tsd_file.latest %>
</p>

<p>
  <strong>Forecast snapshot:</strong>
  <%= @fs ? link_to(@fs.name, @fs) : 'None' %>
</p>

<%= link_to 'Edit', edit_tsd_file_path(@tsd_file) %> |
<% if current_user.dev_user? %>
    <%= link_to 'Destroy', @tsd_file, method: :delete, data: { confirm: "Destroy #{@tsd_file.path}: Are you sure??" } %> |<% end %>
<%= link_to 'Back', tsd_files_path %>
