<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @tsd_file.path %>
</p>

<p>
  <strong>Latest:</strong>
  <%= @tsd_file.latest %>
</p>

<p>
  <strong>Forecast snapshot:</strong>
  <%= link_to @fs.name, @fs %>
</p>

<%= link_to 'Edit', edit_tsd_file_path(@tsd_file) %> |
<%= link_to 'Back', tsd_files_path %>
