<div id="summary_area">
	<h2>Edit<br/>Loader</h2>
</div>
<div id="details_mask"></div>
<div id="details_area">
  <% if @disab %>
     <h3>DISABLED - can only be reenabled by system admin</h3>
  <% end %>
	<%= form_with(model: @data_source) do |ds| %>
		<div class="field">
			Code
      <%= ds.text_field :eval, size: 120, disabled: @disab %>
    </div>
    <div class="field">
			<%= ds.label :priority %>
			<%= ds.number_field :priority, size: 3, disabled: @disab %>
    </div>
    <div class="field">
      <%= ds.check_box :clear_before_load %> Always clear existing data points before loading
    </div>
    <div class="field">
      <%= ds.check_box :pseudo_history, disabled: true %> Check on if this load is pseudo-history. (not yet)
		</div>
    <div class="field">
      <%= ds.label :presave_hook %>
      <%= ds.select :presave_hook, DataSourceHooks.instance_methods, { include_blank: true }, disabled: @disab %>
    </div>
    <div class="field" style="padding:18px;">
      <% @data_source.type_colors.each do |color| %>
        <span style="padding:16px; background-color:#<%= color %>;">
          <input type="radio" name="data_source[color]" id="color_<%= color %>" value="<%= color %>" <%= 'checked' if @data_source.color == color %>>
              <label for="color_<%= color %>"><%= color %></label>
        </span>
      <% end %>
    </div>
      <div class="actions">
        <% unless @disab %>
          <%= ds.submit 'Update Loader' %>
        <% end %>
        <%= link_to 'Cancel', :back %>
      </div>
	<% end %>
</div>
