<div id="summary_area">
	<h2>Edit Definition </h2>
</div>
<div id="details_mask"></div>
<div id="details_area">
	<%= form_for(@data_source) do |ds| %>
		<div class="field">
			<%= ds.label :eval %>
			<%= ds.text_field :eval, size: 120 %>
    </div>
    <div class="field">
			<%= ds.label :priority %>
			<%= ds.number_field :priority, size: 3 %>
		</div>
    <div class="field">
      <%= ds.label :presave_hook %>
      <%= ds.text_field :presave_hook, size: 30 %>
      The name of a method to be called immediately prior to storing data points during a Definition load operation. The method must be
      an instance method of the DataSource class, and must take a single parameter (the new series).
    </div>
		<div class="actions">
			<%= ds.submit %>
		</div>
	<% end %>
</div>