<div id="summary_area">
	<h2>Add Data Source <%= @series.name %></h2>
</div>
<div id="details_mask"></div>
<div id="details_area">
	<%= form_for(@data_source) do |ds| %>
		<div class="field">
			<%= ds.label :eval %>
			<!-- could also try to add this with javascript -->
			<%= ds.text_field :eval, :value => (' '), :size => 120 %>
		</div>
		<div class="field">
      <%= ds.label :priority %>
      <%= ds.number_field :priority, :size => 3 %>
		</div>
		<div class="actions">
      <%= ds.hidden_field :series_id %>
			<%= ds.submit %>
		</div>
	<% end %>
</div>