<div id="summary_area">
	<h4>Add Definition to<br/><%= @series.name %></h4>
</div>
<div id="details_mask"></div>
<div id="details_area">
	<%= form_for(@data_source) do |ds| %>
		<div class="field">
			<%= ds.label :eval %>
			<%= ds.text_field :eval, size: 120 %>
		</div>
		<div class="field">
      <%= ds.label :priority %>
      <%= ds.number_field :priority, size: 3 %>
		</div>
    <div class="field">
      <%= ds.label :presave_hook %>
      <%= ds.select :presave_hook, DataSourceHooks.instance_methods, { include_blank: true } %>
    </div>
		<div class="actions">
      <%= ds.hidden_field :series_id %>
			<%= ds.submit 'Save Definition' %>
		</div>
	<% end %>
</div>
