<%= form_for(@user_feedback) do |f| %>
  <% if @user_feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_feedback.errors.count, "error") %> prohibited this user_feedback from being saved:</h2>

      <ul>
      <% @user_feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :feedback %><br>
    <%= f.text_area :feedback %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :resolved %><br>
    <%= f.check_box :resolved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
