<div id="summary_area">
	<h2>Edit Download</h2>
  <h4><%= link_to 'Show', action: :show, id: @output_file %></h4>
</div>
<div id="details_mask"></div>
<div id="details_area">
	<%= form_for @output_file do |f| %>
	
		<div class="field">
			<%= f.label :handle %>
			<%= f.text_field :handle, :size => 100 %>
		</div>
		
		<div class="field">
			<%= f.label :file_to_extract %>
			<%= f.text_field :file_to_extract, :size => 100 %>
		</div>
		
		<div class="field">
			<%= f.label :url %>
			<div id="url_message"></div>
			<%= f.text_field :url, :size => 100, 'data-test-url': 'url_message' %>
			
		</div>
		
		<div class="field">
			<%= f.label :save_path %>
			<div id="save_path_message"></div>
			<%= f.text_field :save_path, :size => 100, 'data-test-save-path': 'save_path_message'%>
		</div>

    <div class="field">
      <%= f.label :sheet_override, 'Worksheet override name' %><br/>
      <%= f.text_field :sheet_override, :size => 40 %>
    </div>

    <div class="field">
			<%= f.label :post_parameters %>
			<div id="post_parameters_message"></div>
			<%= f.text_area :post_parameters, :value => (@output_file.post_param_string + ' '), :size => '72x20', 'data-test-post-params': 'post_parameters_message' %>
		</div>
	
		<div class="field">
			<%= f.label :notes %><br />
			<%= f.text_area :notes, :size => '72x10'%>
		</div>
		
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>
<script>

  function validateInput(action, dataAttr) {
    $(':input[data-' + dataAttr + ']').change(function() {
      console.log('Value to send: ' + $(this).val());
      var divToChange = $(this).data(dataAttr);
      $('#' + divToChange).html('Validating input ...');
      $.post('<%= url_for controller: :data_source_downloads, :only_path => false %>/' + action,
          {change_to: $(this).val()},
          function(data) {
            $('#' + divToChange).html(data);
            console.log('received result for ' + action);
          }
      );
    });
  }

  $(function() {
    validateInput('test_url', 'test-url');
    validateInput('test_save_path', 'test-save-path');
    validateInput('test_post_params', 'test-post-params');
  });
</script>