<p class="notice"><%= notice %></p>

<%
  current_dp = @data_points.select {|p| p.current }.first
  other_dps = @data_points.reject {|p| p === current_dp }.sort {|p1, p2| p2.created_at <=> p1.created_at }
  units = current_dp.xseries.units
%>
<h2><%= current_dp.date %></h2>
Current<br/>
<%
  [current_dp, other_dps].flatten.each do |dp|
    dp_val = dp.value / units
    data_source = dp.data_source
    bgcolor = data_source.color || 'FFF'
%>
    <div class='datapoint' style='background-color:#<%= bgcolor %>' title="<%= data_source.description %>">
      <%= '%.3f' % dp_val %><sup><%= dp_superscript(dp) %></sup>
    </div>
<% end %>
