<%= form_for(@measurement) do |f| %>
  <% if @measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
      <% @measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prefix %><br>
    <%= f.text_field :prefix %>
  </div>
  <div class="field">
    <%= f.label :data_portal_name, 'Data portal name' %><br>
    <%= f.text_field :data_portal_name, :size => 80 %>
  </div>
  <div class="field">
    <%= f.label :units_label %><br>
    <%= f.text_field :units_label, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :units_label_short, 'Units label, short' %><br>
    <%= f.text_field :units_label_short, :disabled => true %>
  </div>
    <div class="field">
      <%= f.label :unit_id %><br>
      <%= f.collection_select :unit_id, Unit.all.order(:long_label, :short_label), :id, :to_s, {:include_blank => true} %>
    </div>
  <div class="field">
    <%= f.label :source_id %><br>
    <%= f.collection_select :source_id, Source.all, :id, :description, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :source_link, 'Detailed source Link (more specific than the default for the above source)', title: 'More specific than the source organization link.' %><br/>
    <%= f.text_field :source_link, :size => 80 %>
  </div>
  <div class="field">
    <%= f.label :source_detail_id %><br>
    <%= f.collection_select :source_detail_id, SourceDetail.all, :id, :description, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :seasonally_adjusted, 'Seasonally adjusted' %><br/>
    <%= f.check_box :seasonally_adjusted %>
  </div>
  <div class="field">
    <%= f.label :seasonal_adjustment, 'Seasonal Adjustment' %><br/>
    <%= f.select :seasonal_adjustment, Measurement.seasonal_adjustments.collect {|s| [ s[1], s[0] ] }, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :percent %><br>
    <%= f.check_box :percent %>
  </div>
  <div class="field">
    <%= f.label :real %><br>
    <%= f.check_box :real %>
  </div>
  <div class="field">
    <%= f.label :frequency_transform, 'Frequency transformation method (average, sum, or last)' %><br/>
    <%= f.text_field :frequency_transform %>
  </div>
  <div class="field">
    <%= f.label :restricted, 'Restricted? (prevents this series from being visible in the REST-API or the public data portal)' %><br/>
    <%= f.check_box :restricted %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>


    <% if request.path =~ /edit/ %>
        <h2>List of Series</h2>
        <p><%= render 'add_series' %></p>
        <table>
          <thead>
          <tr><th>Series</th><th></th><th></th></tr>
          </thead>
          <tbody>
          <% @measurement.series.to_a.sort_by{|s| s.name}.each do |series| %>
              <tr>
                <td><%= link_to series.name, series, target: '_blank' %></td>
                <td><%= link_to 'Remove', {controller: :measurements, action: :remove_series, id: @measurement, series_id: series.id}, remote: true, data: {remove: true} %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <p></p>
    <% end %>
<% end %>
