<p id="notice"><%= notice %></p>

<h1>Listing Measurements</h1>

<p>
  <%= link_to 'Measurements in the Data Portal', measurements_path(:unrestricted => true) %>
</p>

<p>
  <%= link_to 'New Measurement', new_measurement_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Prefix</th>
      <th>Data portal name</th>
      <th>Units label</th>
      <th>Units label short</th>
      <th>Percent</th>
      <th>Real</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.prefix %></td>
        <td class="linkselect"><%= link_to measurement.data_portal_name, measurement %></td>
        <td><%= measurement.units_label %></td>
        <td><%= measurement.units_label_short %></td>
        <td><%= measurement.percent %></td>
        <td><%= measurement.real %></td>
        <td><%= measurement.notes %></td>
        <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
        <td><%= link_to 'Duplicate', duplicate_measurement_path(measurement) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement', new_measurement_path %>
