<h1>Propagate measurement fields</h1>

<%= form_tag('/measurements/propagate_save', method: :post) do %>
<table>
  <tr>
    <th>Propagate these fields</th>
    <th>To these series</th>
  </tr>
<tbody>
  <tr>
    <td>
      <%= select_tag(:propagate_fields, options_for_select(@all_fields), multiple: true, size: @all_fields.length) %>
    </td>
    <td>
      <%= select_tag(:propagate_series, options_for_select(@measurement.series.map{|s| s.name }), multiple: true, size: @measurement.series.length) %>
    </td>
  </tr>
<tr><td><%= hidden_field_tag('id', @measurement.id) + submit_tag('Propagate') %></td></tr>
  </tbody>
</table>
<% end %>
<p></p>
<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Show', @measurement %> |
<%= link_to 'Back', measurements_path %>
