<p id="notice"><%= notice %></p>
<h2>Measurement <%= @measurement.prefix %> (<%= @measurement.universe %>)</h2>

<%= form_tag('/measurements/propagate', method: :post) do %>

<p class="propagate_controls">
  <a id="all_fields_check" href="javascript:void(0)" onClick="toggleAllFields();">Select all fields</a>
</p>

<% unless @measurement.table_prefix.blank? %>
  <p><strong>Table prefix:</strong> <%= @measurement.table_prefix.to_s %></p>
<% end %>
<% unless @measurement.table_postfix.blank? %>
  <p><strong>Table postfix:</strong> <%= @measurement.table_postfix.to_s %></p>
<% end %>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[data_portal_name]', 1, false) %></span>
  <strong>Data portal name:</strong>
   <%= @measurement.data_portal_name.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[unit_id]', 1, false) %></span>
        <strong>Units:</strong>
        <%= @measurement.unit.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[source_id]', 1, false) %></span>
  <strong>Source:</strong>
  <%= @measurement.source.description.to_s+' ('+@measurement.source.link.to_s+')' if @measurement.source %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[source_link]', 1, false) %></span>
  <strong>Detailed source Link (more specific than the default for the above source):</strong>
  <%= @measurement.source_link %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[source_detail_id]', 1, false) %></span>
  <strong>Source detail:</strong>
  <%= @measurement.source_detail.description.to_s if @measurement.source_detail %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[seasonal_adjustment]', 1, false) %></span>
    <strong>Seasonal adjustment:</strong>
    <%= @measurement[:seasonal_adjustment].to_s %>
  </label>
</p>

    <p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[percent]', 1, false) %></span>
  <strong>Percent:</strong>
  <%= @measurement.percent.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[real]', 1, false) %></span>
  <strong>Real:</strong>
  <%= @measurement.real.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[decimals]', 1, false) %></span>
    <strong>Decimals:</strong>
    <%= @measurement.decimals.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[frequency_transform]', 1, false) %></span>
  <strong>Frequency transformation method (average, sum, or last):</strong>
  <%= @measurement.frequency_transform.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[restricted]', 1, false) %></span>
  <strong>Restricted:</strong>
  <%= @measurement.restricted.to_s %>
  </label>
</p>

<p>
  <strong>Notes:</strong>
  <%= @measurement.notes.to_s %>
</p>

<p>
  <span class="propagate_controls">
    <a id="all_series_check" href="javascript:void(0)" onClick="toggleAllSeries();">Select all series</a>
  </span>
    <table>
      <thead>
      <tr>
        <th class="propagate_controls"></th>
        <th>Series</th>
        <th>Data portal name</th>
        <th>Primary</th>
        <th>Units</th>
        <th>Source</th>
        <th>Detailed source link</th>
        <th>Source detail</th>
        <th>Seasonal Adjustment</th>
        <th>Percent</th>
        <th>Real</th>
        <th>Decimals</th>
        <th>Restricted</th>
        <th>Freq Transform</th>
      </tr>
      </thead>
      <tbody>
      <% @measurement.series.to_a.sort_by{|s| s.name}.each do |series| %>
          <% primary = series.xseries.primary_series %>
          <tr>
            <td class="propagate_controls"><%= check_box_tag("series_boxes[#{series.name}]", 1) %></td>
            <td><%= link_to series.name, series %></td>
            <td><%= series.dataPortalName.to_s %></td>
            <td><%= link_to(primary.universe, primary, title: primary.name) unless series.is_primary %></td>
            <td><%= series.unit.to_s if series.unit %></td>
            <td><%= series.source.description.to_s if series.source %></td>
            <td><%= series.source_link.to_s %></td>
            <td><%= series.source_detail.description.to_s if series.source_detail %></td>
            <td><%= sa_indicator(series.seasonal_adjustment) %></td>
            <td><%= series.percent.to_s %></td>
            <td><%= series.real.to_s %></td>
            <td><%= series.decimals.to_s %></td>
            <td><%= series.restricted.to_s %></td>
            <td><%= series.frequency_transform.to_s %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</p>
<span class="propagate_controls" style=""><%= hidden_field_tag('id', @measurement.id) + submit_tag('Propagate selected fields to selected series') %></span>
<% end %>
<p></p>
<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', :back %>
