<p id="notice"><%= notice %></p>
<h2>Measurement <%= @measurement.prefix %></h2>

<%= form_tag('/measurements/propagate', method: :post) do %>

<p class="propagate_controls">
  <a id="all_fields_check" href="javascript:void(0)" onClick="toggleAllFields();">Select all fields</a>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[data_portal_name]', 1, false,
                                                     disabled: @measurement.data_portal_name.blank?) %></span>
  <strong>Data portal name:</strong>
   <%= @measurement.data_portal_name.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[units_label]', 1, false,
                                                     disabled: @measurement.units_label.blank?) %></span>
  <strong>Units label:</strong>
  <%= @measurement.units_label.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[units_label_short]', 1, false,
                                                     disabled: @measurement.units_label_short.blank?) %></span>
  <strong>Units label, short:</strong>
  <%= @measurement.units_label_short.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[unit_id]', 1, false,
                                                     disabled: @measurement.unit.nil?) %></span>
        <strong>Units:</strong>
        <%= @measurement.unit.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[source_id]', 1, false,
                                                     disabled: @measurement.source.nil? || @measurement.source.description.blank?) %></span>
  <strong>Source:</strong>
  <%= @measurement.source.description.to_s+' ('+@measurement.source.link.to_s+')' if @measurement.source %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[source_link]', 1, false,
                                                     disabled: @measurement.source_link.blank?) %></span>
  <strong>Detailed source Link (more specific than the default for the above source):</strong>
  <%= @measurement.source_link %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[source_detail_id]', 1, false,
                                                     disabled: @measurement.source_detail.nil? || @measurement.source_detail.description.blank?) %></span>
  <strong>Source detail:</strong>
  <%= @measurement.source_detail.description.to_s if @measurement.source_detail %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[seasonally_adjusted]', 1, false,
                                                     disabled: @measurement.seasonally_adjusted.nil?) %></span>
  <strong>Seasonally adjusted:</strong>
  <%= @measurement.seasonally_adjusted.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[percent]', 1, false,
                                                     disabled: @measurement.percent.nil?) %></span>
  <strong>Percent:</strong>
  <%= @measurement.percent.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[real]', 1, false,
                                                     disabled: @measurement.real.nil?) %></span>
  <strong>Real:</strong>
  <%= @measurement.real.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[frequency_transform]', 1, false,
                                                     disabled: @measurement.frequency_transform.blank?) %></span>
  <strong>Frequency transformation method (average, sum, or last):</strong>
  <%= @measurement.frequency_transform.to_s %>
  </label>
</p>

<p>
  <label>
  <span class="propagate_controls"><%= check_box_tag('field_boxes[restricted]', 1, false,
                                                     disabled: @measurement.restricted.nil?) %></span>
  <strong>Restricted:</strong>
  <%= @measurement.restricted.to_s %>
  </label>
</p>

<p>
  <strong>Notes:</strong>
  <%= @measurement.notes.to_s %>
</p>

<p>
  <span class="propagate_controls">
    <a id="all_series_check" href="javascript:void(0)" onClick="toggleAllSeries();">Select all series</a>
  </span>
    <table>
      <thead>
      <tr>
        <th class="propagate_controls"></th>
        <th>Series</th>
        <th>Data portal name</th>
        <th>Units label</th>
        <th>Units label, short</th>
        <th>Units</th>
        <th>Source</th>
        <th>Detailed source link</th>
        <th>Source detail</th>
        <th>SA</th>
        <th>Percent</th>
        <th>Real</th>
        <th>Restricted</th>
        <th>Freq Transform</th>
      </tr>
      </thead>
      <tbody>
      <% @measurement.series.to_a.sort_by{|s| s.name}.each do |series| %>
          <tr>
            <td class="propagate_controls"><%= check_box_tag("series_boxes[#{series.name}]", 1) %></td>
            <td><%= label_tag("series_boxes[#{series.name}]", series.name) %></td>
            <td><%= series.dataPortalName.to_s %></td>
            <td><%= series.unitsLabel.to_s %></td>
            <td><%= series.unitsLabelShort.to_s %></td>
            <td><%= series.unit.to_s if series.unit %></td>
            <td><%= series.source.description.to_s if series.source %></td>
            <td><%= series.source_link.to_s %></td>
            <td><%= series.source_detail.description.to_s if series.source_detail %></td>
            <td><%= series.seasonally_adjusted.to_s %></td>
            <td><%= series.percent.to_s %></td>
            <td><%= series.real.to_s %></td>
            <td><%= series.restricted.to_s %></td>
            <td><%= series.frequency_transform.to_s %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</p>
<span class="propagate_controls" style=""><%= hidden_field_tag('id', @measurement.id) + submit_tag('Propagate selected fields to selected series') %></span>
<% end %>
<p></p>
<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
