<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @measurement.prefix %>
</p>

<p>
  <strong>Data portal name:</strong>
  <%= @measurement.data_portal_name %>
</p>

<p>
  <strong>Units (1, 1000):</strong>
  <%= @measurement.units %>
</p>

<p>
  <strong>Units label:</strong>
  <%= @measurement.units_label %>
</p>

<p>
  <strong>Units label short:</strong>
  <%= @measurement.units_label_short %>
</p>

<p>
  <strong>Source Description:</strong>
  <%= @measurement.source.description.to_s if @measurement.source %>
</p>

<p>
  <strong>Source Link:</strong>
  <%= (@measurement.source_link.nil? || @measurement.source_link.empty?) ? (@measurement.source.link.to_s if @measurement.source) : @measurement.source_link %>
</p>

<p>
  <strong>Source Details:</strong>
  <%= @measurement.source_detail.description.to_s if @measurement.source_detail %>
</p>

<p>
  <strong>Seasonally Adjusted:</strong>
  <%= @measurement.seasonally_adjusted.to_s %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @measurement.percent.to_s %>
</p>

<p>
  <strong>Real:</strong>
  <%= @measurement.real.to_s %>
</p>

<p>
  <strong>Frequency Transform:</strong>
  <%= @measurement.frequency_transform %>
</p>

<p>
  <strong>Restricted:</strong>
  <%= @measurement.restricted.to_s %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @measurement.notes %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
