<%= javascript_include_tag 'd3.v2.min' %>

<div id="all_charts">
    <table>
        <% if current_user.admin_user? %>
        <tr>
            <td>
                <p><button id="export_tsd">Generate TSD Export</button><span id="message_area"></span></p>
                <p>
                    <%= button_to('Restart REST API', restart_restapi_dashboards_path,
              form_class: 'rest-restart-button', remote: true) %>
                    <i id="rest-restart-indicator" class="fas fa-check" aria-hidden="true" style="display:none;"></i>
                    <%= button_to('Restart DVW API', restart_dvwapi_dashboards_path,
              form_class: 'dvw-restart-button', remote: true) %>
                    <i id="dvw-restart-indicator" class="fas fa-check" aria-hidden="true" style="display:none;"></i>
                    <%= button_to('Clear API cache', clear_api_cache_dashboards_path,
              form_class: 'cache-clear-button', remote: true) %>
                    <i id="cache-clear-indicator" class="fas fa-check" aria-hidden="true" style="display:none;"></i>
                </p>
                <p>
                    <%= button_to('Update public data points', update_public_dp_dashboards_path,
              form_class: 'button-with-indicator', remote: true) %>
                    <i id="pdp-indicator" class="fas fa-spinner fa-spin" aria-hidden="true" style="display:none;"></i>
                    <%= button_to('Sync files from NAS', force_sync_files_dashboards_path,
              form_class: 'nas-sync-button', remote: true) %>
                    <i id="nas-sync-indicator" class="fas fa-spinner fa-spin" aria-hidden="true" style="display:none;"></i>
                </p>
            </td>
        </tr>
        <% end %>
        <tr>
            <td>
                <h2>User Reload Jobs</h2>
            </td>
        </tr>
        <table class="list_table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Finished</th>
                    <th>Count</th>
                    <th>Series... (click to re-run job)</th>
                    <th colspan="100%">Error</th>
                </tr>
            </thead>
            <tbody>
                <% @all_reload_jobs.each do |job| %>
                <tr>
                    <td><%= job.id %></td>
                    <td><%= job.user.username %></td>
                    <td style="text-align:center;">
                        <% if job.status.nil? %>
                        waiting<% if current_user.id == job.user_id || current_user.dev_user? %>
                        <%= link_to '<i class="fas fa-ban redban" title="cancel"></i>'.html_safe, destroy_job_dashboards_path(id: job) %>
                        <% end %>
                        <% else %>
                        <%= job.status %>
                        <% end %>
                    </td>
                    <td><%= job.created_at.strftime('%m/%d/%y %H:%M') %></td>
                    <td style="text-align:center;"><%= job.finished_at.strftime('%H:%M') rescue '-' %></td>
                    <td style="text-align:center;"><%= job.series.count %></td>
                    <td><%= series_list = job.series[0..2].map(&:name).join(', ') + (', ...' if job.series.count > 3).to_s
                    link_to(series_list, rerun_job_dashboards_path(id: job)) %></td>
                    <td class="error_message"><%= job.error rescue nil %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <tr>
            <td>
                <h2>Current load errors</h2>
            </td>
        </tr>
        <table>
            <th>Count</th>
            <th>Error message</th>
            <% @err_summary.each do |entry| %>
            <tr>
                <td><%= entry[2] %></td>
                <td><%= link_to entry[0], series_path(entry[1]) %></td>
            </tr>
            <% end %>
        </table>
    </table>
</div>

<script>
    d3.select('#export_tsd').on('click', function() {
        d3.json('/dashboards/export_tsd', function(data) {
            d3.select('#message_area')
                .text(data.message)
                .style('background-color', '#A4CCB3')
                //   .style('padding', '20px')
                .style('display', 'inline-block')
                .style('font-weight', 700)
                .style('color', '#397A26');
        })
    })
</script>