<p id="notice"><%= notice %></p>

<h1>Listing Geographies</h1>

<table>
  <thead>
    <tr>
      <th>Fips</th>
      <th>Handle</th>
      <th>Display name</th>
      <th>Display name short</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geographies.each do |geography| %>
      <tr>
        <td><%= geography.fips %></td>
        <td><%= geography.handle %></td>
        <td class="linkselect"><%= link_to geography.display_name, edit_geography_path(geography) %></td>
        <td><%= geography.display_name_short %></td>
        <td><%= link_to 'Destroy', geography, method: :delete, data: { confirm: "Destroy #{geography.display_name}: Are you sure??" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geography', new_geography_path %>
