<p id="notice"><%= notice %></p>

<p>
  <strong>Fips:</strong>
  <%= @geography.fips %>
</p>

<p>
  <strong>Name:</strong>
  <%= @geography.name %>
</p>

<p>
  <strong>Handle:</strong>
  <%= @geography.handle %>
</p>

<%= link_to 'Edit', edit_geography_path(@geography) %> |
<%= link_to 'Back', geographies_path %>
