<%= form_for(@source_detail) do |f| %>
  <% if @source_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source_detail.errors.count, "error") %> prohibited this source_detail from being saved:</h2>

      <ul>
      <% @source_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 3, cols: 100 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
