<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @source_detail.description %>
</p>

<%= link_to 'Edit', edit_source_detail_path(@source_detail) %> |
<%= link_to 'Index', source_details_path %> |
<%= link_to 'Back', :back %>
