<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, 'error') %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :short_label %><br>
    <%= f.text_field :short_label %>
  </div>
  <div class="field">
    <%= f.label :long_label %><br>
    <%= f.text_field :long_label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
