<p id="notice"><%= notice %></p>

<h1><%= @universe %> Units</h1>

<p>
  <%= link_to "New Unit for #{@universe}", new_unit_path(universe: @universe) %>
</p>

<table class="list_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Short label</th>
      <th>Long label</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%
  univ = @universe == 'UHERO' ? '' : '%%20%%2F%s' % @universe   ## add space + / + universe name, e.g. " /dbedt"
%>>
  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td style="text-align: center"><%= link_to unit.id, '/series/search?search_string=%3bunit=' + unit.id.to_s + univ %></td>
        <td><%= unit.short_label %></td>
        <td class="linkselect"><%= link_to unit.long_label, edit_unit_path(unit) %></td>
        <% if current_user.dev_user? %>
          <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: "Destroy #{unit.long_label[0..30]}: Are you sure??" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
