<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, 'error') %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    Hidden?
    <%= f.check_box :hidden %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.collection_select :parent_id, Category.where("id != ? AND name NOT LIKE 'DBEDT%' AND universe IS NULL", @category.id).order(:name), :id, :name_with_depth, {:include_blank => true}%>
  </div>
  <div class="field">
    <%= f.label :data_list_id %><br>
    <%= f.collection_select :data_list_id, DataList.all.where("name NOT LIKE 'DBEDT%'").order(:name), :id, :name, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :default_handle, 'Default geo' %><br>
    <%= f.text_field :default_handle %>
  </div>
  <div class="field">
    <%= f.label :default_freq %><br>
    <%= f.text_field :default_freq %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $(document).ready(function() { $("#category_data_list_id").select2(); $("#category_parent_id").select2(); })
</script>