<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, 'error') %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :size => 80 %>
    Hidden?
    <%= f.check_box :hidden %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.collection_select :parent_id, Category.get_all(request.path =~ /edit/ ? @category.id : nil), :id, :name_with_depth, {:include_blank => true}%>
  </div>
  <div class="field">
    <%= f.label :data_list_id %><br>
    <%= f.collection_select :data_list_id, DataList.where(universe: 'UHERO').all.order(:name), :id, :name, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :default_geo_id, 'Default geography' %><br>
    <%= f.collection_select :default_geo_id, Geography.where(universe: 'UHERO').order(:handle), :id, :handle_with_name, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :default_freq, 'Default frequency' %><br>
    <%= f.select :default_freq, %w(A Q M W S D).collect {|x| [x, x] }, { :include_blank => true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $(document).ready(function() { $("#category_data_list_id").select2(); $("#category_parent_id").select2(); })
</script>