<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @category.parent.name unless @category.parent.nil? %>
</p>

<p>
  <strong>Data list:</strong>
  <%= @category.data_list_id %>
</p>

<p>
  <strong>Hidden:</strong>
  <%= @category.hidden ? 'Yes' : 'No' %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', :back %>
