<p id="notice"><%= notice %></p>

<h1>DBEDT File Uploads</h1>

<table>
  <thead>
    <tr>
      <th>Uploaded at</th>
      <th>Categories file</th>
      <th>Series data file</th>
      <th colspan="100%"></th>
    </tr>
  </thead>

  <tbody>
      <tr style="background-color:lightblue">
          <%= form_for(@new_dbedt_upload) do |f| %>
              <% if @new_dbedt_upload.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@new_dbedt_upload.errors.count, "error") %> prohibited this DBEDT upload from being saved:</h2>

                    <ul>
                      <% @new_dbedt_upload.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
            <td><div class="actions"><%= f.submit 'Upload files' %></div></td>
        <td><%= f.file_field :cats_filename %></td>
        <td><%= f.file_field :series_filename %></td>
        <% end %>
      </tr>
    <% @dbedt_uploads.each do |dbedt_upload|
       timestamp = dbedt_upload.upload_at.to_s %>
      <tr>
        <td><%= timestamp %></td>
        <td><%= link_to 'Categories file', :action => 'show', :filename => 'cats' %></td>
        <td><%= link_to 'Data series file',  :action => 'show', :filename => 'series' %></td>
        <td><%= link_to 'Destroy', dbedt_upload, method: :delete, data: { confirm: "Destroy upload at #{timestamp}: Are you sure??" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
