<table style="width:800px;">
	<tr>
		<th style="width:80px;">Date</th>
		<th style="width:80px;">AREMOS</th>
		<th style="width:20px;">LVL</th>
		<th style="width:45px; text-align:right; padding:0 2px 0 0;">YOY</th>
		<th style="width:45px; text-align:right; padding:0 2px 0 0;">YTD</th>
		<th>Values</th>
	</tr>
<%
    as = nil
    as = @as.data unless @as.nil?

    def process_missing_dates(as)
      date_hash = {}
      date_hash = as.clone unless as.nil?
      @series.current_data_points.each {|cdp| date_hash[cdp.date] = cdp}
      date_hash
    end

    def display_data_points(date_hash, as)
      today = Time.now.to_date
      units = @series.units || 1
      chg_data = @chg.data.clone unless @chg.nil? or @chg.data.nil?
      ytd_data = @ytd_chg.data.clone unless @ytd_chg.nil? or @ytd_chg.data.nil?
      lvl_data = @lvl_chg.data.clone unless @lvl_chg.nil? or @lvl_chg.data.nil?
      bgcolor_hash = {}
      @series.data_sources.each {|ds| bgcolor_hash[ds.id] = ds.color }

      date_hash.sort.reverse.each do |date_string, element|
        if element.class == DataPoint
          cdp = element
          cdp_val = cdp.value / units
          a_value = (as.nil? or as[cdp.date].nil?) ? "-" : as[cdp.date].round(3)
          chg_value = (chg_data.nil? or chg_data[cdp.date].nil?) ? "-" : chg_data[cdp.date].round(1) rescue "-"
          ytd_chg_value = (ytd_data.nil? or ytd_data[cdp.date].nil?) ? "-" : ytd_data[cdp.date].round(1) rescue "-"
          lvl_chg_value = (lvl_data.nil? or lvl_data[cdp.date].nil?) ? "-" : lvl_data[cdp.date].round(3) rescue "-"
          unless a_value.nil? or a_value.class == String
            diff = @series.a_diff(a_value, cdp_val.round(3))
            a_color = diff == 0 ? "#999999" : aremos_color(diff)
          end
          bgcolor = bgcolor_hash[cdp.data_source_id] rescue "FFF"
%>
      <tr>
        <td><%= link_to cdp.date, controller: 'data_points', action: 'show', series_id: @series.id, date: cdp.date %></td>
        <td><span style='color:<%= a_color %>'><%= a_value %></span></td>
        <td style="text-align:right;"><span class="per-chg"><%= lvl_chg_value %></span></td>
        <td style="text-align:right;"><span class="per-chg"><%= chg_value %><%= "%" if chg_value != "-" %></span></td>
        <td style="text-align:right;"><span class="per-chg"><%= ytd_chg_value %><%= "%" if ytd_chg_value != "-" %></span></td>
        <td>
				  <span class='current-datapoint'>
          <div class='datapoint current-datapoint' style='background-color:#<%= bgcolor %>'>
            <%= "%.3f" % cdp_val %><sup><%= (today - cdp.created_at.to_date).to_i %><%="(ph)" if cdp.pseudo_history %></sup>
          </div>
          </span>
        </td>
      </tr>
<%
        else
          a_color = element == 1000000000000000.0 ? "gray" : "red"
%>
      <tr>
        <td><%= link_to date_string, controller: 'data_points', action: 'show', series_id: @series.id, date: date_string %></td>
        <td><span style='color:<%= a_color %>'><%= element %></span></td>
        <td></td>
        <td style="text-align:center"><span style='color:red'> - </span></td>
      </tr>
<%
        end
      end
    end

    date_hash = process_missing_dates as
    display_data_points(date_hash, as)
%>
	<tr>
		<th>Date</th>
		<th>AREMOS</th>
		<th></th>
		<th>YOY</th>
		<th>YTD</th>
		<th>Values</th>
	</tr>
</table>
