<%= form_for(@series) do |f| %>
    <% if @series.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@series.errors.count, 'error') %> prohibited this series from being saved:</h2>

          <ul>
            <% @series.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      Name<br/>
      <%= @series.name %>
    </div>
    <div class="field">
      <%= f.label :dataPortalName, 'Data Portal Name' %><br/>
      <%= f.text_field :dataPortalName, :size => 80 %>
    </div>
    <div class="field">
      <%= f.label :description %><br/>
      <%= f.text_area :description, :rows => 5, :cols => 60 %>
    </div>
    <div class="field">
      <%= f.label :units, 'Units (1, 1000)' %><br/>
      <%= f.text_field :units %>
    </div>
    <div class="field">
      <%= f.label :unitsLabel, 'Units Label (e.g., Percent)' %><br/>
      <%= f.text_field :unitsLabel, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :unitsLabelShort, 'Units Label Short (e.g., %)' %><br/>
      <%= f.text_field :unitsLabelShort, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :unit_id %><br>
      <%= f.collection_select :unit_id, Unit.all.order(:long_label, :short_label), :id, :to_s, {:include_blank => true} %>
    </div>
    <div class="field">
      <%= f.label :source_id %><br>
      <%= f.collection_select :source_id, Source.all, :id, :description, {:include_blank => true} %>
    </div>
    <div class="field">
      <%= f.label :source_link, 'Detailed source Link (more specific than the default for the above source)', title: 'More specific than the source organization link.' %><br/>
      <%= f.text_field :source_link, :size => 80 %>
    </div>
    <div class="field">
      <%= f.label :source_detail_id %><br>
      <%= f.collection_select :source_detail_id, SourceDetail.all, :id, :description, {:include_blank => true} %>
    </div>
    <div class="field">
      <%= f.label :investigation_notes %><br/>
      <%= f.text_area :investigation_notes %>
    </div>
    <div class="field">
      <%= f.label :seasonally_adjusted, 'Seasonally Adjusted' %><br/>
      <%= f.check_box :seasonally_adjusted %>
    </div>
    <div class="field">
      <%= f.label :percent, 'Percent (prevents calculation of growth rate)' %><br/>
      <%= f.check_box :percent %>
    </div>
    <div class="field">
      <%= f.label :real, 'Real (prevents adjustment for inflation)' %><br/>
      <%= f.check_box :real %>
    </div>
    <div class="field">
      <%= f.label :frequency_transform, 'Frequency Transformation Method (average, sum, or last)' %><br/>
      <%= f.text_field :frequency_transform %>
    </div>
    <div class="field">
      <%= f.label :restricted, 'Restricted? (prevents this series from being visible in the REST-API or the public data portal)' %><br/>
      <%= f.check_box :restricted %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
