<%= form_for(@series) do |f| %>
    <% if @series.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@series.errors.count, 'error') %> prohibited this series from being saved:</h2>

          <ul>
            <% @series.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if request.path !~ /edit/ %>
      <div class="field">
        <%= f.label :name, 'Name: Prefix' %><br/>
        <%= text_field_tag 'name_parts[prefix]', nil, :size => 20 %> @
        <%= select :name_parts, :geography_id, @all_geos.collect {|g| [g.handle_with_name, g.id] }, {:include_blank => false} %> .
        <%= select :name_parts, :freq, %w(A Q M W S D).collect {|x| [x, x] }, {:include_blank => false} %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :dataPortalName, 'Data Portal Name' %><br/>
      <%= f.text_field :dataPortalName, :size => 80 %>
    </div>
    <div class="field">
      <%= f.label :description %><br/>
      <%= f.text_area :description, :rows => 5, :cols => 60 %>
    </div>
    <div class="field">
      <%= f.label :unit_id %><br>
      <%= f.collection_select :unit_id, @all_units.order(:long_label, :short_label), :id, :to_s, {:include_blank => true} %>
    </div>
    <div class="field">
      <%= f.label :source_id %><br>
      <%= f.collection_select :source_id, @all_sources.order(:description), :id, :description, {:include_blank => true} %>
    </div>
    <div class="field">
      <%= f.label :source_link, 'Source link (web link more specific than the default for the above source)', title: 'More specific than the source organization link.' %><br/>
      <%= f.text_field :source_link, :size => 80 %>
    </div>
    <div class="field">
      <%= f.label :source_detail_id %><br>
      <%= f.collection_select :source_detail_id, @all_details.order(:description), :id, :description, {:include_blank => true} %>
    </div>
    <div class="field">
      <%= f.label :investigation_notes %><br/>
      <%= f.text_area :investigation_notes %>
    </div>
    <% if @universe == 'UHERO' %>
      <%= f.fields_for :xseries do |xf| %>
          <div class="field">
            <%= xf.label :percent, 'Percent' %>
            <%= xf.check_box :percent %> (prevents calculation of growth rate)
          </div>
          <div class="field">
            <%= xf.label :real, 'Real' %>
            <%= xf.check_box :real %> (prevents adjustment for inflation)
          </div>
          <div class="field">
            <%= xf.label :seasonal_adjustment, 'Seasonal Adjustment' %>
            <%= xf.select :seasonal_adjustment, Series.seasonal_adjustments.to_a, {:include_blank => true} %>
          </div>
          <div class="field">
            <%= xf.label :units, 'Units (1, 10, 1000, etc)' %>
            <%= xf.text_field :units %>
          </div>
          <div class="field">
            <%= xf.label :decimals %>
            <%= xf.number_field :decimals, :size => 1 %>
          </div>
          <div class="field">
            <%= xf.label :frequency_transform, 'Frequency Transformation Method' %>
            <%= xf.select :frequency_transform, %w(average sum last).collect {|x| [x, x] }, { include_blank: true } %>
          </div>
          <div class="field">
            <%= xf.label :restricted, 'Restricted' %>
            <%= xf.check_box :restricted %> (prevents this series from being visible outside udaman)
          </div>
      <% end %>
    <% end %>
    <div class="actions">
      <%= hidden_field_tag(:universe, @universe) %>
      <%= f.submit %>
    </div>
<% end %>
