<table class="list_table">
  <thead>
  <tr>
    <th><%= link_to sorthead('Name'), { action: :index, sortby: 'name', dir: sortdir('name') } %></th>
    <th><%= link_to sorthead('SA'), { action: :index, sortby: 'sa', dir: sortdir('sa') } %></th>
    <th><%= link_to sorthead('Portal Name'), { action: :index, sortby: 'portalname', dir: sortdir('portalname') } %></th>
    <th>Units</th>
    <th><%= link_to sorthead('First'), { action: :index, sortby: 'first', dir: sortdir('first') } %></th>
    <th><%= link_to sorthead('Last'), { action: :index, sortby: 'last', dir: sortdir('last') } %></th>
    <th><%= link_to sorthead('Source'), { action: :index, sortby: 'source', dir: sortdir('source') } %></th>
  </tr>
  </thead>

  <tbody>
  <% row = -1 %>
  <% all_series.each do |series| %>
    <% row += 1 %>
    <tr class="row<%= row % 2 %>">
      <td><%= link_to series.name, series %><% if series.restricted? %> <i class="fas fa-ban redban" title="restricted"></i><% end %></td>
      <td><%= sa_indicator(series.seasonal_adjustment) %></td>
      <td><%= series.dataPortalName %></td>
      <td title="<%= series.unit && series.unit.long_label %>"><%= series.unit && series.unit.short_label %></td>
      <td><%= DataPoint.where(xseries_id: series.xseries_id).minimum(:date) %></td>
      <td><%= DataPoint.where(xseries_id: series.xseries_id).maximum(:date) %></td>
      <td><%= series.source && link_to(series.source.description, '/series/search?search_string=%%3bsrc=%d' % series.source.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
