<table class="list_table">
  <thead>
  <tr>
    <th>
      <%= link_to sorthead('Name'), index_header_get_params('name') %> &middot;
      <%= link_to sorthead('Geo'),  index_header_get_params('geo') %> &middot;
      <%= link_to sorthead('Freq'), index_header_get_params('freq') %>
    </th>
    <th><%= link_to sorthead('SA'), index_header_get_params('sa') %></th>
    <th><%= link_to sorthead('Portal Name'), index_header_get_params('portalname') %></th>
    <th>Units</th>
    <th><%= link_to sorthead('First'), index_header_get_params('first') %></th>
    <th><%= link_to sorthead('Last'), index_header_get_params('last') %></th>
    <th><%= link_to sorthead('Source'), index_header_get_params('source_desc') %></th>
  </tr>
  </thead>

  <tbody>
  <% row = -1 %>
  <% all_series.each do |s| %>
    <% row += 1 %>
    <tr class="row<%= row % 2 %>">
      <td><%= link_to(s[:name], s[:series_obj]) %><% if s[:restricted] %> <i class="fas fa-ban redban" title="restricted"></i><% end %></td>
      <td><%= sa_indicator(s[:sa]) %></td>
      <td><%= s[:portalname] %></td>
      <td title="<%= s[:unit_long] %>"><%= s[:unit_short] %></td>
      <td><%= s[:first] %></td>
      <td><%= s[:last] %></td>
      <td><%= s[:source_desc] && link_to(s[:source_desc],
                                       '/series/search?search_string=' + url_encode(';src=%d' % s[:source_id])) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
