<table>
	<% series.data_sources_sort_for_display.each do |ds| %>
  	<% myeval = ds.eval.nil? ? " " : ds.eval.split(" ").join("&nbsp;") %>
  	<tr style="background-color:#<%= ds.color%>" >
  		<td width="160px">
      <%= ds.last_run ? ds.last_run.strftime("%m/%d/%y") : '-' %>
      <span style="color:gray"><%= ds.last_run ? ds.last_run.strftime("%H:%M") : '-' %></span>&nbsp;(<%= ds.priority %>)<br />
 					<%= 
						link_to 'load', {
							:controller => 'data_sources',
							:action => 'source', 
							:id => ds.id} unless myeval.blank?
					%>&nbsp;|&nbsp;<%= 
						link_to 'clear', {
							:controller => 'data_sources',
							:action => 'clear',
							:id => ds.id} unless myeval.blank?
					%><% if current_user.admin_user? %>
            |&nbsp;<%= link_to 'delete', {
                :controller => 'data_sources',
                :action => 'delete',
                :id => ds.id },
                data: { :confirm => "Delete definition #{ds.id}: Are you sure??" } %>
          <% end %><br/>
          <% if myeval =~ /load_from_download/ %>
             <%= link_to 'reset', { controller: :data_sources, action: :reset, id: ds.id }%>&nbsp;|
          <% end %>
          <%= link_to 'edit', { controller: :data_sources, action: :edit, id: ds.id } %>
        <span style="color:gray">(<%= "#{ds.runtime.round(2)}s" unless ds.runtime.nil? %>)</span><br/>
        <%= link_to nightly_actuator(ds.reload_nightly), {controller: :data_sources, action: :toggle_reload_nightly, id: ds.id} %>
  		</td>
		<td>
			<h3><%= ds.id %><% if ds.reload_nightly %> <i class="fas fa-clock" aria-hidden="true"></i><% end %></h3>
      <% if ds.presave_hook %>
           <strong>Presave hook:</strong> <%= ds.presave_hook %><br/>
      <% end %>
			<%= raw linked_version(ds.description) %><br/>
			<%= raw myeval %>
      <% if ds.last_error %>
           <br/><br/><span style='color:red;font-weight:bold;'><%= ds.last_error %> (<%= ds.last_error_at.strftime('%m/%d/%y %H:%M') %>)</span>
      <% end %>
		</td>
	</tr>      
	<% end %>
</table>
