<table style="border-collapse:collapse;">
	<% series.data_sources_sort_for_display.each do |ds| %>
    <% if ds.disabled? %>
      <td style="border:none;background-color:lightgrey;" >
        <td style="border:none;">
          <strong><%= ds.id %></strong> <%= link_to 'edit', { controller: :data_sources, action: :edit, id: ds.id } %>
      </td></tr>
      <% next %>
    <% end %>

  	<% myeval = ds.eval.to_s %>
  	<tr style="border:none;background-color:#<%= ds.color %>;" >
  		<td style="border:none;">
      <%= ds.last_run ? ds.last_run.strftime("%m/%d/%y") : '-' %>
      <span style="color:gray"><%= ds.last_run ? ds.last_run.strftime("%H:%M") : '-' %></span>&nbsp;(<%= ds.priority %>)
 					<%= 
						link_to 'load', {
							:controller => 'data_sources',
							:action => 'source', 
							:id => ds.id} unless myeval.blank?
					%><% if current_user.admin_user? %>&nbsp;|&nbsp;<%=
						link_to 'clear', {
							:controller => 'data_sources',
							:action => 'clear',
							:id => ds.id} unless myeval.blank?
					%> |&nbsp;<%= link_to 'delete', {
                :controller => 'data_sources',
                :action => 'delete',
                :id => ds.id },
                data: { :confirm => "Delete definition #{ds.id}: Are you sure??" } %>
           |
          <% if myeval =~ /load_from_download/ %>
             <%= link_to 'reset', { controller: :data_sources, action: :reset, id: ds.id }%>&nbsp;|
          <% end %>
          <%= link_to 'edit', { controller: :data_sources, action: :edit, id: ds.id } %> |
          <%= link_to nightly_actuator(ds.reload_nightly), {controller: :data_sources, action: :toggle_reload_nightly, id: ds.id} %>
          <% end %>
          <% if ds.runtime %>
              <span style="color:gray">(<%= "#{ds.runtime.round(2)}s" %>)</span>
          <% end %>
        <% if ds.last_error %>
          <br/><span class='error_message'><%= raw text_with_linked_download(ds.last_error) %> (<%= ds.last_error_at.strftime('%m/%d/%y %H:%M') %>)</span>
        <% end %>
  		</td>
    </tr>
    <tr style="border:none;background-color:#<%= ds.color %>;" >
    <td style="border:none;">
			<h3><%= ds.id %><% if ds.reload_nightly %> <i class="fas fa-clock" aria-hidden="true"></i><% end %></h3>
      <p>
      <% if ds.presave_hook %>
           <strong>Presave hook:</strong> <%= ds.presave_hook %><br/>
      <% end %>
			<%= raw text_with_linked_words(ds.description) %><br/>
      <%= raw text_with_linked_download(myeval) %>
      </p>
		</td>
	</tr>      
	<% end %>
</table>
