<%= render :partial => 'calculate_form' %>
<h1><%= @series.name %></h1>
<h3><%= @desc %></h3>
<h3>
    <%= link_to 'Details', @series %>
    <% @series.other_frequencies.each do |sibling| %>
    | <%= link_to sibling.to_s, analyze_series_path(sibling) %>
    <% end %>

</h3>
<div id="finance" style="width:800px;">
    <div id="labels">

        <div id="financeTitle">Levels and YOY% Change</div>
        <div id="time">
            <a onclick="HumbleFinance.zoom(5);">last 5</a>
            <a onclick="HumbleFinance.zoom(20);">last 20</a>
            <a onclick="HumbleFinance.zoom(60);">last 60</a>
            <a onclick="HumbleFinance.zoom(120);">last 120</a>
            <a onclick="HumbleFinance.zoom(250);">last 250</a>
        </div>
        <div id="dateRange"></div>

    </div>
</div>
<script>

<% sort = params[:sort] %>
<% dates = @series.data.keys.sort %>
<% data = @series.data %>
<% lvl_chg = @lvl_chg.data %>
<% chg = @chg.data %>
<% ytd = @ytd.data %>

var jsonData = [
	<% dates.each do |date_string|  %>
	{
		date: "<%= date_string %>",
		level: "<%= data[date_string].nil? ? "" : "%.3f" % data[date_string] %>" ,
		change: "<%= chg[date_string].nil? ? "" : "%.1f" % chg[date_string] %>" ,
		ytd: "<%= ytd[date_string].nil? ? "" : "%.1f" % ytd[date_string]%>"
	},
	<%end%>
];

var priceData = [ <% dates.each_index do |i|  %> [<%= i %>, <%= data[dates[i]] %>], <%end%>];
var volumeData = [ <% dates.each_index do |i|  %> [<%= i %>, <%= chg[dates[i]].nil? ? 0 : chg[dates[i]] %>], <%end%>];

var summaryData = [
<%
i = 0
step = data.count > 100 ? data.count / 100 : 1
while i < data.count do
%> [<%= i %>, <%= data[dates[i]] %>], <%
i += step
end
%>
];

</script>

<%= javascript_include_tag 'humblefinance/hsd' %>
<%= javascript_include_tag 'humblefinance/prototype.min' %>
<%= javascript_include_tag 'humblefinance/Finance' %>
<%= javascript_include_tag 'humblefinance/excanvas' %>
<%= javascript_include_tag 'humblefinance/base64' %>
<%= javascript_include_tag 'humblefinance/canvas2image' %>
<%= javascript_include_tag 'humblefinance/canvastext' %>
<%= javascript_include_tag 'humblefinance/flotr' %>
<%= javascript_include_tag 'humblefinance/HumbleFinance' %>
<%= javascript_include_tag 'humblefinance/demo' %>

<table style="margin-top: 50px;">
    <tr>
        <th>Mean</th>
        <th>Median</th>
        <th>Std. Dev.</th>
    </tr>
    <tr>
        <td id="stat-mean"><%=  "%.3f" % @series.average %></td>
        <td id="stat-median"><%= "%.3f" % @series.median %></td>
        <td id="stat-stddev"><%= "%.3f" % @series.standard_deviation %></td>
    </tr>
</table>

<script>
Event.observe(document, 'dom:loaded', function() {
    function calcStats(xmin, xmax) {
        var values = [];
        for (var i = xmin; i <= xmax && i < jsonData.length; i++) {
            var v = parseFloat(jsonData[i].level);
            if (!isNaN(v) && jsonData[i].level !== '') values.push(v);
        }
        if (values.length === 0) return null;

        var sum = 0;
        for (var i = 0; i < values.length; i++) sum += values[i];
        var mean = sum / values.length;

        var sorted = values.slice().sort(function(a, b) { return a - b; });
        var mid = Math.floor(sorted.length / 2);
        var median = sorted.length % 2 !== 0 ? sorted[mid] : (sorted[mid - 1] + sorted[mid]) / 2;

        var sqDiffSum = 0;
        for (var i = 0; i < values.length; i++) {
            sqDiffSum += (values[i] - mean) * (values[i] - mean);
        }
        var stddev = values.length > 1 ? Math.sqrt(sqDiffSum / (values.length - 1)) : 0;

        return {mean: mean, median: median, stddev: stddev};
    }

    function updateStats(xmin, xmax) {
        var stats = calcStats(xmin, xmax);
        if (stats) {
            $('stat-mean').update(stats.mean.toFixed(3));
            $('stat-median').update(stats.median.toFixed(3));
            $('stat-stddev').update(stats.stddev.toFixed(3));
        }
    }

    Event.observe(HumbleFinance.containers.summary, 'flotr:select', function(e) {
        var area = e.memo[0];
        updateStats(Math.floor(area.x1), Math.ceil(area.x2));
    });

    Event.observe(HumbleFinance.containers.summary, 'flotr:click', function() {
        updateStats(0, jsonData.length - 1);
    });
});
</script>

<table style="margin-top: 50px;">
    <tr>
        <th><a href="?sort=<%= sort == 'desc' ? 'asc' : 'desc' %>">Date &#8597;</a></th>
        <th>Level</th>
        <th>Level Change</th>
        <th>YOY</th>
        <th>YTD</th>
    </tr>
    <% dates.sort { |a,b| sort == 'desc' ? b <=> a : a <=> b }.each do |date_string|  %>
    <tr>
        <td><%= date_string %></td>
        <td><%= data[date_string].nil? ? "" : "%.3f" % data[date_string] %></td>
        <td><%= lvl_chg[date_string].nil? ? "" : "%.3f" % lvl_chg[date_string] %></td>
        <td><%= chg[date_string].nil? ? "" : "%.1f" % chg[date_string] %></td>
        <td><%= ytd[date_string].nil? ? "" : "%.1f" % ytd[date_string] %></td>
    </tr>
    <% end %>
</table>