<div id="summary_area">
	<h2>Clear Series Data</h2>
</div>
<div id="details_mask"></div>
<div id="details_area">
	<%= form_with url: { action: :do_clear, id: @series } do |ld| %>
		<div class="field">
			Clear data points relative to the following date (YYYY-MM-DD). Leave blank to delete all.<br/>
      <%= text_field_tag 'clear_op[date]' %>
			<p>
			<%= radio_button_tag 'clear_op[type]', 'date_from' %> Delete all data with <strong>observation date</strong> on or after the given date.<br/>
			<%= radio_button_tag 'clear_op[type]', 'create_from' %> Vintage: Reset series to <strong>state current</strong> on the given date.
			</p>
    </div>
		<div class="actions">
			<%= ld.submit 'Clear data points' %>
			<%= link_to 'Cancel', :back %>
		</div>
	<% end %>
</div>
