<% if current_user.internal_user? %>

<div id="summary_area">
 	<h1>Clip Board</h1>
  <% if @all_series && @all_series.count > 0 %>
      <h2>Total: <%= @all_series.count %></h2>
  <% end %>
  <br />
  <div>
    <p><%= link_to 'Clear clipboard', { action: :clear_clip }, data: { confirm: 'Clear your clipboard: Are you sure??' } %></p>
    <p><%= form_with url: { action: :do_clip_action } do |f| %>
      <%= f.submit 'Go' %>
      <% end %></p>
  </div>
</div>
<div id="details_area">
<% if @all_series.nil? || @all_series.empty? %>

  Clipboard empty.

<% else %>

  <%= render partial: 'list_series', locals: { all_series: @all_series } %>

<% end %>
</div>

<% end %>
