<h1>Duplicate series <%= @series.name %> (<%= @series.universe %>)</h1>

<<<<<<< HEAD
<p>Some instructions</p>

<%= form_with url: { action: :save_duplicate, id: @series } do |f| %>
  New name <%= text_field_tag :new_name, nil, size: 30 %>
=======
<p>You are attempting to duplicate a series within the same universe. All this really means is that a new series will
be created, necessarily with a different name,<br/>and most of the metadata of the original series copied in. The first
attempt may fail if the original series has any required metadata missing. Check the box if<br/>you would like all active
loaders to be duplicated. On success, you will be sent to the edit screen for the newly created
series, to make any<br/>necessary modifications.</p>

<%= form_with url: { action: :save_duplicate, id: @series } do |f| %>
  New name <%= text_field_tag :new_name, nil, size: 30 %>
    <% unless @series.enabled_data_sources.empty? %>
      <p><%= check_box_tag :copy_loaders, 'yes' %> Copy loaders along with series metadata</p>
    <% end %>
>>>>>>> master
  <p>
    <%= f.submit 'Duplicate' %>
    <%= link_to 'Cancel', :back %>
  </p>
<% end %>
