<h1>Duplicate series <%= @series.name %> (<%= @series.universe %>)</h1>

<p>Some instructions</p>

<%= form_with url: { action: :save_duplicate, id: @series } do |f| %>
  New name <%= text_field_tag :new_name, nil, size: 30 %>
    <% unless @series.enabled_data_sources.empty? %>
    <p><%= check_box_tag :copy_loaders, 'yes' %> Copy loaders along with series metadata</p>
    <% end %>
  <p>
    <%= f.submit 'Duplicate' %>
    <%= link_to 'Cancel', :back %>
  </p>
<% end %>
