<%= form_with url: { action: :forecast_upload }, method: :post do |f| %>

  <div class="field">
    Upload file
    <% if @path %>
      <%= text_field_tag 'forecast_upload[filepath]', @path || 'forecasts/', disabled: true, size: 30 %>
    <% else %>
      <%= file_field_tag 'forecast_upload[fileupload]' %>
    <% end %>
  </div>
  <div class="field">
    Frequency <%= select :forecast_upload, :freq, %w(A S Q M).collect {|x| [x, x] }, { include_blank: true } %>
  </div>
  <div class="field">
    Forecast <%=  text_field_tag 'forecast_upload[fcid]', @fcid, size: 8 %> (YYQN)
  </div>
  <div class="field">
    Version <%= text_field_tag 'forecast_upload[version]', @version, size: 8 %> (F1, F2, ... FF or H1, H2, ... HF)
  </div>
  <div class="actions">
    <%= f.submit 'Store forecast series' %>
    <%= link_to 'Cancel', :back %>
  </div>

<% end %>
