<div id="summary_area">
	<h1>Data Series</h1>
	<h2>Total: <%= @all_series.count %></h2>
	<div id="navigation">
		<%= raw navigation_by_frequency %>
		<%= raw navigation_by_letter %>
	</div>
  <% if current_user.internal_user? %>
      <br />
    <div>
      <%= link_to 'Create Series', controller: 'series', action: 'new' %>
      <%= link_to 'Bulk Series Create', controller: 'series', action: 'bulk_new' %>
    </div>
    <div>
      <br />
      <%= link_to 'Series with no Source', controller: :series, action: 'no_source' %>
      <br />
      <%= link_to 'Unrestricted series with no Source', controller: :series, action: 'no_source_no_restrict' %>
      <br />
      <%= link_to 'Quarantined Series', controller: :series, action: 'quarantine' %>
      <br />
      <%= link_to 'Series with stale source', controller: :series, action: :stale %>
      <br />
      <%= link_to 'BEA Series without an API source', controller: :series, action: :old_bea_download %>
    </div>
  <% end %>
</div>

<div id="details_mask"></div>
<div id="details_area">
		<%= render :partial => 'calculate_form' %>

<% unless @all_series.empty? %>
  <%= will_paginate @all_series %>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>SA</th>
      <th>Portal Name</th>
      <th>Units</th>
      <th>Source</th>
    </tr>
    </thead>

    <tbody>
    <% @all_series.each do |series| %>
      <tr>
        <td><%= link_to series.name, series %><% if series.restricted? %> <i class="fa fa-ban redban" title="restricted"></i><% end %></td>
        <td><%= sa_indicator(series.seasonal_adjustment || 'NA') %></td>
        <td><%= series.dataPortalName %></td>
        <td><%= series.unit && series.unit.long_label %></td>
        <td><%= series.source && series.source.description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @all_series %>
  <p>
<% end %>
</div>
