<% if current_user.internal_user? %>

<div id="summary_area">
    <h1>Data Series</h1>
    <% if @all_series && @all_series.count > 0 %>
    <h2>Total: <%= search_count_display(@all_series.count) %></h2>
    <% end %>
    <br />
    <div>
        <%= link_to 'Create UHERO Series', new_series_path(u: 'UHERO') %> |
        <%= link_to 'Create COH Series', new_series_path(u: 'COH') %><br />
        <%= link_to 'Bulk UHERO Series Create', bulk_series_index_path %><br />
        <%= link_to 'Forecast series upload', forecast_upload_series_index_path %><br />
        <%= link_to 'CSV-to-TSD file conversion', csv2tsd_upload_series_index_path %>
    </div>
    <div>
        <br />
        <%= link_to 'Series with no Source', no_source_series_index_path %><br />
        <%= link_to 'Unrestricted series with no Source', no_source_no_restrict_series_index_path %><br />
        <%= link_to 'Quarantined Series', quarantine_series_index_path %><br />
    </div>
    <br />
    <div>
        <% if @search_string && @all_series && !@all_series.empty? %>
        <%= link_to 'Add results to clipboard', add_clip_series_index_path(search: @search_string) %><br />
        <%= link_to 'Replace clipboard with results', add_clip_series_index_path(search: @search_string, replace: 'true') %><br />
        <% end %>
    </div>
</div>
<div id="details_area">
    <%= render partial: 'calculate_form' %>

    <% if @search_string %>
    <h3>Search: <a href="#" style="text-decoration:none;" onClick="setSeriesSearch('<%= sanitize @search_string %>');"><%= sanitize @search_string %></a></h3>
    <% end %>
    <% if @all_series.nil? || @all_series.empty? %>

    No results.

    <% else %>

    <%= render partial: 'list_series', locals: { all_series: @all_series } %>

    <% end %>
</div>

<% end %>