<% if current_user.internal_user? %>

<div id="summary_area">
 	<h1>Data Series</h1>
  <% if @all_series && @all_series.count > 0 %>
      <h2>Total: <%= @all_series.count %></h2>
  <% end %>
      <br />
    <div>
      <%= link_to 'Create UHERO Series', controller: :series, action: :new, u: 'UHERO' %> |
      <%= link_to 'Create COH Series', controller: :series, action: :new, u: 'COH' %><br/>
      <%= link_to 'Bulk UHERO Series Create', controller: :series, action: :bulk_new %><br/>
      <%= link_to 'Forecast series upload', controller: :series, action: :forecast_upload %>
    </div>
    <div>
      <br />
      <%= link_to 'Series with no Source', controller: :series, action: 'no_source' %><br />
      <%= link_to 'Unrestricted series with no Source', controller: :series, action: 'no_source_no_restrict' %><br />
      <%= link_to 'Quarantined Series', controller: :series, action: 'quarantine' %><br />
    </div>
  <br />
  <div>
    <% if @search_string && @all_series && !@all_series.empty? %>
      <%= link_to 'Add results to clipboard', { action: :add_clip, search: @search_string } %><br />
      <%= link_to 'Replace clipboard with results', { action: :add_clip, search: @search_string, replace: 'true' } %><br />
    <% end %>
  </div>
</div>
<div id="details_area">
<%= render partial: 'calculate_form' %>

<% if @search_string %>
    <h3>Search: <a href="#" style="text-decoration:none;"
                   onClick="setSeriesSearch('<%= sanitize @search_string %>');"><%= sanitize @search_string %></a></h3>
<% end %>
<% if @all_series.nil? || @all_series.empty? %>

  No results.

<% else %>

  <%= render partial: 'list_series', locals: { all_series: @all_series } %>

<% end %>
</div>

<% end %>
