<h1>New series for <%= @universe %></h1>
<% if @universe != 'UHERO' %>
  <i>Note! This screen can only be used when creating a series uniquely for <%= @universe %> that is not shared
  with other universes. If you need to create an alias of a UHERO or other universe series within <%= @universe %>,
  ask the developer. The latter function has not yet been added to udaman.</i>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', series_index_path %>
