<%= will_paginate @series %>

<h1>Listing Quarantined Series</h1>

<table>
  <thead>
  <tr>
    <th>Series</th>
    <th>Description</th>
    <th colspan="2"></th>
    <th>Data Source Definitions</th>
  </tr>
  </thead>

  <tbody>
  <% @series.each do |series| %>
      <tr>
        <td><%= series.name %></td>
        <td><%= series.dataPortalName || series.measurement.data_portal_name %></td>
        <td><%= link_to 'Show', series %></td>
        <td><%= link_to 'Edit', edit_series_path(series) %></td>
        <td><%= series.data_sources.map { |ds| ds['eval'] }.join('<br />').html_safe %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @series %>
