<%= will_paginate @series %>

<h1>Listing Quarantined Series</h1>

<p><%= link_to 'Empty quarantine', controller: 'series', action: 'empty_quarantine', id: 0,
                       data: { :confirm => "Are you sure you want to clear ALL series from quarantine??" } %></p>

<table>
  <thead>
  <tr>
    <th>Series</th>
    <th>Description</th>
    <th colspan="3"></th>
    <th>Data Source Definitions</th>
  </tr>
  </thead>

  <tbody>
  <% @series.each do |series| %>
      <tr>
        <td><%= series.name %></td>
        <td><%= series.dataPortalName  %></td>
        <td><%= link_to 'Show', series %></td>
        <td><%= link_to 'Edit', edit_series_path(series) %></td>
        <td><%= link_to('Unquarantine', action: 'remove_from_quarantine', id: series.id, next_action: 'quarantine') %></td>
        <td><%= series.data_sources.map { |ds| ds['eval'] }.join('<br />').html_safe %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @series %>
