
 <script type="text/javascript">
// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
//google.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table, 
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

// Create our data table.
var data = new google.visualization.DataTable();
data.addColumn('string', 'Date');
data.addColumn('number', '<%= @series.name %>');
data.addRows([
<%=
gct_datapoints(@series).html_safe
%>
]);

// Instantiate and draw our chart, passing in some options.
var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
chart.draw(data, {width: 400, height: 240});
google.visualization.events.addListener(chart, 'select', function() {
  alert("HI");
});

}



</script>
<p class="notice"><%= notice %></p>

<div id="summary_area">
	<h3><%= @series.name %></h3>
	<h3><%= @desc %></h3>
  <h3><%= @series.description %></h3>

  <table>
    <tr><td>Measurements</td><td>
      <% @series.measurements.each do |measurement| %>
      <%= link_to(measurement.prefix, measurement) %>
      <% end %>
    </td></tr>
    <tr><td>Data Portal Name</td><td><%= @series.dataPortalName %></td></tr>
    <tr><td>Units</td><td><%= @series.unit.to_s if @series.unit %></td></tr>
    <tr><td>Geography</td><td><%= @series.geography ? @series.geography.display_name : '<span style="color:red;">Not linked</span>'.html_safe %></td></tr>
    <tr><td>Decimals</td><td><%= @series.decimals.to_s %></td></tr>
    <tr><td>Base Year</td><td><%= @series.base_year %></td></tr>
    <tr><td>Seasonal Adjustment</td><td><%= @series[:seasonal_adjustment].to_s %></td></tr>
    <tr><td>Data Portal Status</td><td><%= @series.restricted ? 'restricted' : 'public' %></td></tr>
    <tr><td>Source Description</td><td><%= @series.source.description unless @series.source.nil? %></td></tr>
    <tr><td>Source Link</td><td><%= (@series.source_link.nil? || @series.source_link.empty?) ? (@series.source.link unless @series.source.nil?) : @series.source_link %></td></tr>
    <tr><td>Source Details</td><td><%= @series.source_detail.description unless @series.source_detail.nil? %></td></tr>
    <tr><td>Restricted</td><td><%= @series.restricted.to_s %></td></tr>
      <tr><td>Quarantined</td><td><%= @series.quarantined.to_s %>
          <span id="series_controls">
            <%= link_to('(add)', action: :add_to_quarantine, id: @series) unless @series.quarantined %>
            <%= link_to('(remove)', action: :remove_from_quarantine, id: @series) if @series.quarantined %>
         </span>
      </td></tr>
  </table>

	<div id="navigation">
    <% if current_user.internal_user? %>
		  <%= link_to 'Edit', edit_series_path(@series) %> |
    <% end %>
		<%= link_to 'Back', :action => 'index' %> |
		<%= link_to 'Analyze', :action => 'analyze', :id => @series %> |
		<%= link_to 'Comparison Chart', :action => 'comparison_graph', :id => @series %> | 
		<%= link_to 'Blog Chart', :action => 'blog_graph', :id => @series %> | 
		<%= link_to 'Outlier Chart', :action => 'outlier_graph', :id => @series %> |
		<a href="/listseries/<%=@series.name.chop.chop%>">TSDs</a> |
		<%= link_to 'CSV', :action => 'show', :format => :csv, :id => @series %> 

		<div id="chart_div"></div>
		<div id="notes"><p><%= @series.investigation_notes %></p></div>

	</div>
</div>

<div id="details_mask"></div>
<div id="details_area">
	<table>
		
		<tr><td class="label">Output: </td><td>
		<%= @pdf.filename unless @pdf.nil? %></td></tr>


		<tr><td class="label">Sources: <br />	<%= link_to 'Add', :controller => :data_sources, :action => :new, :series_id => @series.id %>
		</td><td>
		<%= render :partial => 'source_list', :locals => { :series => @series } %>
		</td></tr>


	</table>
	
	<div id= "toggle-units-div">
		<%= render :partial => 'toggle_units', :locals => {:series => @series} %>
	</div>
	<h3><%= @series.name %></h3>
	<p><%= @desc %></p>
	<table>	
		<tr><td class="label">Source Map</td><td>
		<%= render :partial => 'source_map', :locals => {:series => @series} %>
		</td></tr>
  </table>
</div>
