
 <script type="text/javascript">
// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
//google.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table, 
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

// Create our data table.
var data = new google.visualization.DataTable();
data.addColumn('string', 'Date');
data.addColumn('number', '<%= @series.name %>');
data.addRows([
<%=
gct_datapoints(@series).html_safe
%>
]);

// Instantiate and draw our chart, passing in some options.
var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
chart.draw(data, {width: 400, height: 240});
google.visualization.events.addListener(chart, 'select', function() {
  alert("HI");
});

}



</script>
<p class="notice"><%= notice %></p>

<div id="summary_area">
	<h3><%= @series.name %></h3>
	<h3><%= @desc %></h3> <!-- Aremos description -->
  <h3><%= @series.description %></h3>

  <table>
    <tr><td>Universe</td><td><%= universe_label(@series) %></td></tr>
    <tr><td><%= @series.is_primary? ? 'Aliases' : 'Alias of' %></td><td><%= raw make_alt_universe_links(@series) %></td></tr>
    <tr><td>Measurements</td><td>
      <% @series.measurements.each do |measurement| %>
         <%= link_to(measurement.prefix, measurement) %>
      <% end %>
    </td></tr>
    <tr><td>Data Portal Name</td><td><%= @series.dataPortalName %></td></tr>
    <tr><td>Units</td><td><%= @series.unit.to_s if @series.unit %></td></tr>
    <tr><td>Geography</td><td><%= @series.geography ? @series.geography.display_name : '<span style="color:red;">Not linked</span>'.html_safe %></td></tr>
    <tr><td>Decimals</td><td><%= @series.decimals.to_s %></td></tr>
    <tr><td>Base Year</td><td><%= @series.base_year %></td></tr>
    <tr><td>Seasonal Adjustment</td><td><%= sa_indicator(@series.seasonal_adjustment) %></td></tr>
    <tr><td>Source</td><td><%= @series.source && @series.source.description %></td></tr>
    <tr><td>Source Link</td><td><%= make_hyperlink(@series.source_link || (@series.source && @series.source.link)) %></td></tr>
    <tr><td>Source Details</td><td><%= @series.source_detail && @series.source_detail.description %></td></tr>
    <tr><td>Restricted</td><td>
      <% if @series.restricted %> true <i class="fas fa-ban redban" title="restricted"></i>
      <% else %> false <% end %>
    </td></tr>
    <% unless @series.restricted %>
      <tr><td>Quarantined</td><td><%= @series.quarantined.to_s %>
          <span id="series_controls">
            <%= link_to('(add)', action: :add_to_quarantine, id: @series) unless @series.quarantined %>
            <%= link_to('(remove)', action: :remove_from_quarantine, id: @series) if @series.quarantined %>
         </span>
      </td></tr>
    <% end %>
    <tr><td>Created at</td><td><%= @series.created_at %></td></tr>
    <tr><td>Updated at</td><td><%= @series.updated_at %></td></tr>
    <tr><td>Internal ID</td><td><%= @series.id %> (<%= link_to('link', action: :show, id: @series.id) %>)</td></tr>
  </table>

  <div id="chart_div"></div>
  <div id="notes"><p><%= @series.investigation_notes %></p></div>

	<div id="navigation">
    <% if current_user.internal_user? %>
		  <%= link_to 'Edit', edit_series_path(@series) %> |
    <% end %>
		<%= link_to 'Analyze', :action => 'analyze', :id => @series %> |
		<%= link_to 'Comparison Chart', :action => 'comparison_graph', :id => @series %> | 
		<%= link_to 'Blog Chart', :action => 'blog_graph', :id => @series %> | 
		<%= link_to 'Outlier Chart', :action => 'outlier_graph', :id => @series %> |
		<a href="/listseries/<%=@series.name.chop.chop%>">TSDs</a> |
		<%= link_to 'CSV', :action => 'show', :format => :csv, :id => @series %>
    <% if current_user.dev_user? %>
      | <%= link_to 'Destroy', @series, method: :delete, data: { confirm: "Destroy #{@series} - Are you sure??" } %>
    <% end %>
  </div>
</div>

<div id="details_area">
	<table>
    <% if @series.is_primary? %>
      <tr>
        <td style="font-weight:bold;">Definitions
          <%= link_to '(add)', controller: :data_sources, action: :new, series_id: @series.id %></td>
      </tr>
    <% end %>
    <tr><td><%= render partial: 'source_list', locals: { series: @series } %></td></tr>
	</table>
	
	<div id= "toggle-units-div">
		<%= render :partial => 'data_display', :locals => {:series => @series} %>
	</div>
	<h3><%= @series.name %></h3>
	<p><%= @desc %></p>
	<table>	
		<tr><td class="label">Source Map</td><td>
		<%= render :partial => 'source_map', :locals => {:series => @series} %>
		</td></tr>
  </table>

  <h3>Source Action History</h3>
  <%= render :partial => 'source_action_list', :locals => {:dsas => @dsas} %>
</div>
