<h1>Editing Series for <%= @export.name %></h1>
<p>Separate items with any kind of whitespace (no commas, please)</p>
<%= form_with url: { action: :save_as_text, id: @export } do |f| %>
  <%= text_area_tag :edit_box, @series_list, rows: 40, cols: 30 %>
  <p>
  <%= f.submit 'Store list' %>
  <%= link_to 'Cancel', :back %>
  </p>
<% end %>
