<p id="notice"><%= notice %></p>

<h1>Listing Exports</h1>

<%= link_to 'New Export', new_export_path %>

<table class="list_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @exports.each do |export| %>
      <tr>
        <td class="linkselect"><%= link_to export.name, export %></td>
        <td><%= export.series.count %></td>
        <td><%= link_to 'CSV', action: 'show', id: export, format: 'csv' %></td>
        <td><%= link_to 'Table', action: 'show_table', id: export %></td>
        <td><%= link_to 'Edit', edit_export_path(export) %></td>
        <td><%= link_to 'Destroy', export, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Export', new_export_path %>
