<h1>Export <%= @export.name %></h1>
<p id="notice"><%= notice %></p>
<p>
    <% if current_user.admin_user? || @export.owned_by == current_user.id %>
    <%= link_to 'Edit', edit_export_path(@export) %> |
    <% end %>
    <%= link_to 'Index', exports_path %> |
    <%= link_to 'Table', show_table_export_path(@export) %> |
    <%= link_to 'CSV', export_path(@export, format: :csv) %>
    <% if current_user.admin_user? || @export.owned_by == current_user.id %>
    | <%= link_to 'Destroy', @export, method: :delete, data: { confirm: "Destroy export #{@export.name}\nAre you sure??" } %>
    <% end %>
</p>
<% if @export_series.empty? %>

No series linked.

<% else %>

<table class="list_table">
    <thead>
        <tr>
            <th><%= link_to sorthead('Order'), export_path(@export, sortby: 'order', dir: sortdir('order')) %></th>
            <th><%= link_to sorthead('Name'), export_path(@export, sortby: 'name', dir: sortdir('name')) %></th>
            <th>SA</th>
            <th>Portal Name</th>
            <th>Units</th>
            <th><%= link_to sorthead('First'), export_path(@export, sortby: 'first', dir: sortdir('first')) %></th>
            <th><%= link_to sorthead('Last'), export_path(@export, sortby: 'last', dir: sortdir('last')) %></th>
            <th><%= link_to sorthead('Source'), export_path(@export, sortby: 'source', dir: sortdir('source')) %></th>
        </tr>
    </thead>

    <tbody>
        <% row = -1 %>
        <% @export_series.each do |exp_s| %>
        <% series = exp_s[:series] %>
        <% row += 1 %>
        <tr class="row<%= row % 2 %>">
            <td><%= exp_s[:order] %></td>
            <td><%= link_to series.name, series %><% if series.restricted? %> <i class="fas fa-ban redban" title="restricted"></i><% end %></td>
            <td><%= sa_indicator(series.seasonal_adjustment) %></td>
            <td><%= series.dataPortalName %></td>
            <td title="<%= series.unit && series.unit.long_label %>"><%= series.unit && series.unit.short_label %></td>
            <td><%= exp_s[:first] %></td>
            <td><%= exp_s[:last] %></td>
            <td><%= exp_s[:source] %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<% end %>