<!DOCTYPE html>
<html>
<head>
  <title><%= @series.nil? ? 'UHERO Data Manager' : "#{@series.name} - " %><%= @desc unless @desc.nil? %></title>
  <%= stylesheet_link_tag 'application' %>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <!-- stylesheet_link_tag 'jquery-ui' %>-->
  <!-- javascript_include_tag 'ui/jquery-ui' %>-->

</head>
<body>
<% if user_signed_in? %>
  <div id="top-level-nav">
  	<%= 
  	render 'devise/menu/login_items' 
  	%> | 
    <% if current_user.internal_user? %>
  	<a href="/series">Data Series</a> |
  	<a href="/data_source_downloads">Downloads</a> |
    <a href="/investigate_visual">Investigation Dashboard</a> |
    <a href="/data_lists">Data Lists</a> |
    <a href="/exports">Exports</a> |
  	Search
  	
  	<div id="search" style="display:inline">
  		<%= render :partial => '/layouts/series_search' %>
  	</div>
  </div>
  <div id="chart-board-nav">
    Data Portal: <a href="/categories" title="Edit Data Portal Categories">Categories</a> |
                 <a href="/geographies" title="Edit Data Portal Geographies">Geographies</a> |
                 <a href="/measurements" title="Edit Data Portal Measurements">Measurements</a> |
                 <a href="/sources" title="Edit Data Portal Sources">Sources</a>
  </div>
  <div id="chart-board-nav">
  <a href="/forecast_snapshots" title="Edit Forecast Snapshots">Forecast Snapshots</a>
  <% if current_user.dev_user? %>
    <a href="/tsd_files" title="Edit Forecast Snapshot TSD Files">Forecast Snapshot TSD Files</a>
  <% end %>
  </div>
    <% end %>
<!--
     Link for HECO users of forecast snapshots
-->
<% end %>
<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>
<p class="error"><%= flash[:error] %></p>
<%= yield %>

</body>
</html>
