<!DOCTYPE html>
<html>
<head>
  <title><%= @series.nil? ? 'UHERO Data Manager' : "#{@series.name} - " %><%= @desc unless @desc.nil? %></title>
  <%= stylesheet_link_tag 'application' %>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <!-- stylesheet_link_tag 'jquery-ui' %>-->
  <!-- javascript_include_tag 'ui/jquery-ui' %>-->

</head>
<body class="<%= 'nonprod' unless Socket.gethostname =~ /udaman|prod|uhero1/ %>">
<% if user_signed_in? %>
  <div id="top-level-nav">
  	<%= 
  	render 'devise/menu/login_items' 
  	%>
    <% if current_user.internal_user? %> |
  	<a href="/series">Data Series</a> |
  	<a href="/downloads">Downloads</a> |
    <a href="/investigate_visual">Investigation Dashboard</a> |
    <a href="/data_lists?u=uhero">Data Lists</a> |
    <a href="/exports">Exports</a> |
    <a href="/help">Help</a> |
      <a href="#" title="Special operators:
^     match start of mnemonic
~    (tilde) match anywhere in mnemonic
-     (minus) omit matching from results
@   match geography
.      match frequency (combine as .am .mq etc)
&R   unrestricted only
&r     restricted only
&sa  seasonally adjusted only
&ns  non-seasonally adjusted only
=      get an exact series based on full name
/       change universe (db short for dbedt, u short for uhero)"><i class="load-status fas fa-question-circle" aria-hidden="true"></i></a>
  	<div id="search" style="display:inline">
  		<%= render :partial => '/layouts/series_search' %>
  	</div>
  </div>
  <div id="chart-board-nav">
    <a href="http://data.uhero.hawaii.edu" target="_blank">Data Portal</a>: <a href="/categories" title="Edit Data Portal Categories">Categories</a> |
                 <a href="/geographies?u=uhero" title="Edit Data Portal Geographies">Geographies</a> |
                 <a href="/units?u=uhero" title="Edit Data Portal Units">Units</a> |
                 <a href="/measurements?u=uhero" title="Edit Data Portal Measurements">Measurements</a> |
                 <a href="/sources?u=uhero" title="Edit Data Portal Sources">Sources</a> |
                 <a href="/source_details?u=uhero" title="Edit Data Portal Source Details">Source Details</a> |
                 <a href="/user_feedbacks" title="View Data Portal Feedback">Feedback</a>
  </div>
  <div id="chart-board-nav">
  <a href="/forecast_snapshots" title="Edit Forecast Snapshots">Forecast Snapshots</a> |
  <a href="/feature_toggles" title="Edit Feature Toggles">Feature Toggles</a>
  <% if current_user.dev_user? %>
    | <a href="/dbedt_uploads" title="DBEDT Uploads">DBEDT Uploads</a>
  <% end %>
  </div>
    <% end %>
<!--
     Link for HECO users of forecast snapshots
-->
<% end %>
<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>
<p class="error"><%= flash[:error] %></p>
<%= yield %>

</body>
</html>
