<%= form_for(@data_list) do |f| %>
  <% if @data_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_list.errors.count, 'error') %> prohibited this data_list from being saved:</h2>

      <ul>
      <% @data_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, size: 60 %>
  </div>
  <div class="field">
    <%= f.label :startyear %><br />
    <%= f.text_field :startyear, size: 4 %> (YYYY)
  </div>
  <% if current_user.admin_user? %>
    <div class="field">
      <%= f.label :owned_by %><br />
      <%= f.select(:owned_by, User.where(universe: 'UHERO').all.map {|u| [u.email, u.id]}, :prompt => 'Owned by') %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.hidden_field :category_id %>
    <%= f.submit %>
  </div>
<% end %>
  <% if request.path =~ /edit/ %>
        <h2>List of Measurements</h2>
        <table>
          <thead>
          <tr><th>Prefix</th><th>Data Portal Name</th><th colspan="2">Move</th><th colspan="2">Indent</th><th colspan="3"></th></tr>
          </thead>
          <tbody>
          <% @dl_measurements.each do |measurement, ind|
                indent_i = ind ? ind[-1].to_i : 0
              %>
              <tr>
                <td><%= link_to measurement.prefix, measurement %></td>
                <td><span class="indentation"><%= make_indentation(indent_i) %></span><%= measurement.data_portal_name %></td>
                <td><%= link_to 'Up', {controller: :data_lists, action: :move_measurement_up, id: @data_list, measurement_id: measurement.id}, remote: true, data: {up: true} %></td>
                <td><%= link_to 'Down', {controller: :data_lists, action: :move_measurement_down, id: @data_list, measurement_id: measurement.id}, remote: true, data: {down: true} %></td>
                <td><%= link_to '<<'.html_safe, {controller: :data_lists, action: :set_measurement_indent, id: @data_list, measurement_id: measurement.id, indent_in_out: 'out'}, remote: true, data: {indent: 1} %></td>
                <td><%= link_to '>>'.html_safe, {controller: :data_lists, action: :set_measurement_indent, id: @data_list, measurement_id: measurement.id, indent_in_out: 'in'}, remote: true, data: {indent: 1} %></td>

                <td><%= link_to 'Duplicate', duplicate_measurement_path(measurement) %></td>
                <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
                <td><%= link_to 'Remove', {controller: :data_lists, action: :remove_measurement, id: @data_list, measurement_id: measurement.id}, remote: true, data: {remove: true} %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <br />
        <%= form_for(@data_list, url: {action: 'add_measurement', id: @data_list.id}) do |f2| %>
            <div class="field">
              <%= f2.label :measurements %><br>
              <%= f2.collection_select :measurement_ids, Measurement.where(universe: 'UHERO').all.order(:prefix, :data_portal_name), :id, :prefix_and_name, {:include_blank => false, selected: nil} %>
            </div>
            <div class="actions">
              <%= f2.submit 'Add Measurement' %>
            </div>
        <% end %>
        <br />
  <% end %>


<script>
    $(document).ready(function() { $("#data_list_measurement_ids").select2(); })
</script>
