<%= form_for(@data_list) do |f| %>
  <% if @data_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_list.errors.count, 'error') %> prohibited this data_list from being saved:</h2>

      <ul>
      <% @data_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :startyear %><br />
    <%= f.text_field :startyear %>
  </div>
    <h2>List of Measurements</h2>
  <% if request.path =~ /edit/ %>
        <table>
          <thead>
            <tr><th>Prefix</th><th>Data Portal Name</th><th></th><th></th></tr>
          </thead>
          <tbody>
          <% @data_list.data_list_measurements.to_a.sort_by{|m| m.list_order}.map{|m| m.measurement}.each do |measurement| %>
              <tr>
                <td><%= measurement.prefix %></td>
                <td><%= measurement.data_portal_name %></td>
                <td><%= link_to 'Up', {controller: :data_lists, action: :move_measurement_up, id: @data_list, measurement_id: measurement.id}, remote: true, data: {up: true} %></td>
                <td><%= link_to 'Down', {controller: :data_lists, action: :move_measurement_down, id: @data_list, measurement_id: measurement.id}, remote: true, data: {down: true} %></td>
                <td><%= link_to 'Remove', {controller: :data_lists, action: :remove_measurement, id: @data_list, measurement_id: measurement.id}, remote: true, data: {remove: true} %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <br />
    <div class="field">
      <%= f.label :owned_by %><br />
      <%= f.select(:owned_by, User.all.map {|u| [u.email, u.id]}, :prompt => 'Owned by') %>
    </div>
  <% end %>
  <!-- <div class="field">
    < %= f.label :endyear %><br />
    < %= f.text_field :endyear %>
  </div>
  <div class="field">
    < %= f.label :startdate %><br />
    < %= f.text_field :startdate %>
  </div>
  <div class="field">
    < %= f.label :enddate %><br />
    < %= f.text_field :enddate %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= form_for(@data_list, url: {action: 'add_measurement', id: @data_list.id}) do |f2| %>
  <div class="field">
    <%= f2.label :measurements %><br>
    <%= f2.collection_select :measurement_ids, Measurement.all, :id, :prefix_and_name, {:include_blank => false, selected: nil} %>
  </div>
  <div class="actions">
    <%= f2.submit 'Add Measurement' %>
  </div>
<% end %>

<script>
    $(document).ready(function() { $("#data_list_measurement_ids").select2(); })
</script>
