<%= form_for(@data_list) do |f| %>
  <% if @data_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_list.errors.count, 'error') %> prohibited this data_list from being saved:</h2>

      <ul>
      <% @data_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, size: 60 %>
  </div>
  <div class="field">
    <%= f.label :startyear %><br />
    <%= f.text_field :startyear, size: 4 %> (YYYY)
  </div>
  <% if current_user.admin_user? %>
    <div class="field">
      <%= f.label :owned_by %><br />
      <%= f.select(:owned_by, User.where(universe: 'UHERO').all.map {|u| [u.email, u.id]}, :prompt => 'Owned by') %>
    </div>
  <% end %>
  <div class="actions">
    <%= hidden_field_tag(:category_id, @category_id) %>
    <%= f.submit %>
  </div>
<% end %>
