<h1>Listing Data Lists</h1>

<%= link_to 'New Data list', new_data_list_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th>Startyear</th>
<!--
    <th>Endyear</th>
    <th>Startdate</th>
    <th>Enddate</th>
-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_lists.each do |data_list| %>
  <tr>
    <td><%= data_list.name %></td>
    <td><%= data_list.series_names.count %></td>
    <td><%= data_list.startyear %></td>
<!--    <td><%= data_list.endyear %></td>
    <td><%= data_list.startdate %></td>
    <td><%= data_list.enddate %></td>
-->
	<td><%= link_to 'CSV', :action => 'show', :id => data_list, :format => 'csv' %></td>
    <td><%= link_to 'Show', data_list %></td>
    <td><%= link_to 'Table', :action => 'show_table', :id => data_list %></td>
    <td><%= link_to 'FlexTable', :action => 'super_table', :id => data_list %></td>
    <% if current_user.admin_user? || data_list.owned_by == current_user.id %>
      <td><%= link_to 'Edit', edit_data_list_path(data_list) %></td>
    <% end %>
    <% if current_user.dev_user? || data_list.owned_by == current_user.id %>
      <td><%= link_to 'Destroy', data_list, :method => :delete, data: { confirm: "Destroy #{data_list.name}: Are you sure??"} %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data list', new_data_list_path %>
