<h1>Listing Data Lists</h1>

<%= link_to 'New Data list', new_data_list_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_lists.order(:name).each do |data_list| %>
  <tr>
    <td class="linkselect"><%= link_to data_list.name, :action => 'super_table', :id => data_list %></td>
    <td><%= data_list.measurements.count %></td>
    <% if current_user.admin_user? || data_list.owned_by == current_user.id %>
      <td><%= link_to 'Edit', edit_data_list_path(data_list) %></td>
    <% end %>
    <td><%= link_to 'Duplicate', duplicate_data_list_path(data_list) %></td>
    <% if current_user.dev_user? || data_list.owned_by == current_user.id %>
      <td><%= link_to 'Destroy', data_list, :method => :delete, data: { confirm: "Destroy #{data_list.name}: Are you sure??"} %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data list', new_data_list_path %>
